<ion-content class="signup-content">
  <app-aspect-ratio [ratio]="{w:100, h:17}">
    <app-image-shell style="width:150px; height: 34px; margin: 0 auto;" animation="spinner" [src]="'assets/tl-logo-simpel-white.png'" [alt]="'walkthrough'"></app-image-shell>
  </app-aspect-ratio>

  <div class="form-container">
    <h2 class="auth-title">
      Sign up to Tell Lisa
    </h2>
    <p>Already a member? <a [routerLink]="['/auth/login']">Sign in.</a></p>

    <form [formGroup]="signupForm" (ngSubmit)="signUpWithEmail()">
      <ion-list class="inputs-list" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="6" style="padding-left:0;">
              <ion-item class="input-item">
                <ion-label position="stacked"><p>Firstname</p></ion-label>
                <ion-input type="text" placeholder="Your fist name" formControlName="firstName" clearInput autocapitalize="off" inputmode="firstName"></ion-input>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.firstName">
                  <div class="error-message" *ngIf="signupForm.get('firstName').hasError(validation.type) && (signupForm.get('firstName').dirty || signupForm.get('firstName').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
            </ion-col>
            
            <ion-col size="6" style="padding-right:0;">
              <ion-item class="input-item">
                <ion-label position="stacked"><p>Lastname</p></ion-label>
                <ion-input type="text" placeholder="Your last name" formControlName="lastName" clearInput autocapitalize="off" inputmode="lastName"></ion-input>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.lastName">
                  <div class="error-message" *ngIf="signupForm.get('lastName').hasError(validation.type) && (signupForm.get('lastName').dirty || signupForm.get('lastName').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
        
        <ion-item class="input-item">
          <ion-label position="stacked"><p>Email</p></ion-label>
          <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
       
        <div class="label-row">
          <ion-label position="stacked"><p>Country</p></ion-label>
        </div>
        <ion-item class="input-item">
          <ion-select formControlName="country" placeholder="Where you live" cancelText="Cancel" okText="OK">
            <ion-select-option *ngFor="let item of countries" [value]="item" >{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
  
       
  
        <div formGroupName="matching_passwords">
          <div class="label-row">
            <ion-label position="stacked"><p>Password</p></ion-label>
          </div>
          <ion-item class="tl-auth-item">

            <app-show-hide-password>
              <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
            </app-show-hide-password>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>

          <div class="label-row">
            <ion-label position="stacked"><p>Confirm Password</p></ion-label>
          </div>
  
          <ion-item class="tl-auth-item">

            <app-show-hide-password>
              <ion-input type="password" placeholder="Confirm Password" formControlName="confirm_password"></ion-input>
            </app-show-hide-password>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.confirm_password">
              <div class="error-message" *ngIf="signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.matching_passwords">
            <div class="error-message" *ngIf="signupForm.get('matching_passwords').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-list>
      <ion-list class="inputs-list" lines="none">
        <ion-item class="input-item terms-item">
          <ion-checkbox formControlName="terms"></ion-checkbox>
          <div class="legal-stuff">
            By creating an account you agree to our <a class="legal-action" (click)="showPrivacyModal()">Privacy Policy</a> and <a class="legal-action" (click)="showTermsModal()">Terms of use</a>.
          </div>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.terms">
            <div class="error-message" *ngIf="signupForm.get('terms').hasError(validation.type) && (signupForm.get('terms').dirty || signupForm.get('terms').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-list>
  
      <ion-button class="signup-btn" type="submit" expand="block" [disabled]="!signupForm.valid">Sign Up</ion-button>
  
    </form>
    <div class="separator">Or</div>

    <div class="social-logins d-flex justify-content-between">
      <ion-button type="button" class="google-signin" color="grey-primary" (click)="doGoogleSignup()">
        <ion-icon name="logo-google"></ion-icon>
        <ion-label>Sign in with Google</ion-label>
      </ion-button>
      <ion-button type="button" class="fb-signin" color="lighter-grey" (click)="doFacebookSignup()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button type="button" class="twitter-signin" color="lighter-grey" (click)="doTwitterSignup()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
  
    
  </div>
  
</ion-content>
