<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="skip-getting-started-button" fill="clear" [routerLink]="['/home']">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- We need the form wrapping the slides so all the inputs in the different slides are part of the same form -->
  <form class="getting-started-form" [formGroup]="gettingStartedForm">
    <ion-slides class="getting-started-slides" pager="true">
      <ion-slide class="browsing-categories-slide question-slide">
        <ion-row class="slide-inner-row">
          <ion-col class="question-options-col" size="12">
            <h2 class="slide-title">What are you browsing for?</h2>
            <ion-list class="question-options-list">
              <ion-radio-group formControlName="browsingCategory">
                <ion-item class="question-option">
                  <ion-label>Woman</ion-label>
                  <ion-radio value="woman"></ion-radio>
                </ion-item>
                <ion-item class="question-option">
                  <ion-label>Men</ion-label>
                  <ion-radio value="men"></ion-radio>
                </ion-item>
                <ion-item class="question-option">
                  <ion-label>Kids</ion-label>
                  <ion-radio value="kids"></ion-radio>
                </ion-item>
                <ion-item class="question-option">
                  <ion-label>Petit</ion-label>
                  <ion-radio value="petit"></ion-radio>
                </ion-item>
                <ion-item class="question-option">
                  <ion-label>Plus Size</ion-label>
                  <ion-radio value="plus-size"></ion-radio>
                </ion-item>
                <ion-item class="question-option">
                  <ion-label>New In</ion-label>
                  <ion-radio value="new-in"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide class="interests-to-follow-slide question-slide">
        <ion-row class="slide-inner-row">
          <ion-col class="heading-col">
            <h2 class="slide-title">Pick categories to follow</h2>
            <p class="slide-subtitle">
              You can add or change them later
            </p>
          </ion-col>
          <ion-col class="question-options-col">
            <ion-row class="options-list-row" formGroupName="followingInterests">
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [display]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category1-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Tops</span>
                      <ion-checkbox formControlName="tops"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [display]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category2-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Dresses</span>
                      <ion-checkbox formControlName="dresses"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [display]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category3-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Jeans</span>
                      <ion-checkbox formControlName="jeans"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [display]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category4-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Jackets</span>
                      <ion-checkbox formControlName="jackets"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [display]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category5-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Shoes</span>
                      <ion-checkbox formControlName="shoes"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
              <ion-col size="6">
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell [display]="'cover'" animation="spinner" class="checkbox-cover add-overlay" [src]="'./assets/sample-images/getting-started/category6-1.1.png'">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title">Glasses</span>
                      <ion-checkbox formControlName="glasses"></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="call-to-action-col">
            <ion-button class="signup-button" color="secondary" expand="block" [routerLink]="['/home']">Proceed</ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
