<div id="germanPrivacy">
  <p class="legal-text">
    Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Webseite besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
  </p>
  
  <h3 class="legal-title">Vertragspartner und Hinweise zum Vertragsschluss</h3>

  <p class="legal-text">
    Die Datenverarbeitung auf dieser Webseite erfolgt durch
  </p>

  <h3 class="legal-title">G-TAC Software UG (haftungsbeschränkt)</h3>
  <h3 class="legal-title">Schmiedstrasse 7</h3>
  <h3 class="legal-title">67734 Katzweiler</h3>
  <h3 class="legal-title">Tel.: +49 (6301) 6049758</h3>
  <h3 class="legal-title">E-Mail: support at telllisa dot com</h3>
  <h3 class="legal-title">Wie erfassen wir Ihre Daten?</h3>

  <p class="legal-text">
    Ihre Daten werden zum einen dadurch erhoben, dass Sie sie selbst mitteilen. Hierbei kann es sich um Daten handeln, die Sie in ein Kontaktformular oder bei einer Newsletterbestellung eingeben.
  </p>
  <p class="legal-text">
    Andere Daten werden automatisch beim Besuch der Webseite durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Webseite betreten.
  </p>

  <h3 class="legal-title">
    Analyse Ihrer Daten
  </h3>

  <p class="legal-text">
    Beim Besuch unserer Webseite kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem mit Cookies und mit sogenannten Analysewerkzeugen. Die Analyse Ihres Surf-Verhaltens erfolgt anonym, und kann nicht zu Ihnen zurückverfolgt werden. Sie können dieser Analyse widersprechen oder sie durch die Nichtbenutzung bestimmter Tools verhindern. Details hierzu entnehmen Sie unserer Datenschutzerklärung unter der Überschrift „Drittmodule und Analysetools“.
  </p>

  <h3 class="legal-title">Wofür nutzen wir Ihre Daten?</h3>
  <p class="legal-text">
    Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Webseite zu gewährleisten.
  </p>

  <p class="legal-text">
    Mit anderen Daten können wir Ihr Nutzerverhalten im Internet statistisch analysieren (z.B. über sogenannte Cookies). Derartige Analysen erfolgen anonym und können nicht zu Ihrer Person zurückverfolgt werden. Sie können dieser Analyse widersprechen. Details hierzu entnehmen Sie unserer Datenschutzerklärung unter der Überschrift „Drittmodule und Analysetools“.
  </p>

  <h3 class="legal-title">Welche Rechte haben Sie bezüglich Ihrer Daten?</h3>

  <p class="legal-text">
    Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu bekommen. Sie haben außerdem ein Recht die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
  </p>

  <h3 class="legal-title">
    Erfolgt die Übertragung Ihrer Daten verschlüsselt?
  </h3>

  <p class="legal-text">
    Ja. Diese Webseite nutzt eine Verschlüsselung. Diese soll verhindern, dass Unbefugte auf Ihre Daten zugreifen können
  </p>

  <h3 class="legal-title">Datenschutz auf einen Blick</h3>
  <h3 class="legal-title">INHALTSÜBERSICHT</h3>

  <ol>
    <li>Allgemeine Hinweise und Pflichtinformationen</li>
    <li>Datenerfassung auf unserer Webseite</li>
    <li>Drittmodule und Analysetools</li>
    <li>Sonstige Informationen</li>
  </ol>

  <h3 class="legal-title">DETAILS</h3>
  <h3 class="legal-title">1. Allgemeine Hinweise und Pflichtinformationen</h3>

  <p class="legal-text">
    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
  </p>
  <p class="legal-text">
    Wenn Sie diese Webseite benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
  </p>
  <p class="legal-text">
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>

  <h3 class="legal-title">Verantwortliche Stelle </h3>

  <p class="legal-text">
    Die verantwortliche Stelle für die Datenverarbeitung auf dieser Webseite ergibt sich aus dem Impressum. Verantwortliche Stelle ist die natürliche oder juristische Person die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.) entscheidet.
  </p>
  <p class="legal-text">
    Widerruf Ihrer Einwilligung zur Datenverarbeitung
  </p>
  <p class="legal-text">
    Viele Datenverarbeitungsvorgänge sind nur mit Ihrer Einwilligung möglich. Diese werden wir vor Beginn der Einwilligung ausdrücklich bei Ihnen einholen. Sie können diese Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
  </p>

  <h3 class="legal-title">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
  

  <p class="legal-text">
    Der Webseitenbesucher wird darauf hingewiesen, dass ihm im Falle datenschutzrechtlicher Verstöße ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zusteht. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen seinen Hauptsitz hat. Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden:
  </p>
  
  <p class="legal-text">
    https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html  
  </p>

  <h3 class="legal-title">Recht auf Datenübertragbarkeit</h3>

  <p class="legal-text">
    Sie haben das Recht Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten an sich oder an einen anderen Verantwortlichen in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
  </p>
  
  <h3 class="legal-title">SSL- bzw. TLS-Verschlüsselung</h3>


  <p class="legal-text">
    Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
  </p>
  <p class="legal-text">
    Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
  </p>

  <h3 class="legal-title">
    Verschlüsselter Zahlungsverkehr auf dieser Webseite
  </h3>
  <p class="legal-text">
    Nach dem Abschluss eines entgeltpflichtigen Vertrags sind Sie vertraglich verpflichtet, uns Ihre Zahlungsdaten (z.B. Kontonummer bei Einzugsermächtigung) zu übermitteln. Diese Daten werden zur Zahlungsabwicklung benötigt. Stellen Sie uns diese Daten nicht bereit, können wir ggf. von einem geschlossenen Vertrag zurücktreten und Schadensersatz von Ihnen verlangen.
  </p>
  
  <p class="legal-text">
    Der Zahlungsverkehr über die gängigen Zahlungsmittel (Visa/Mastercard, Lastschriftverfahren) erfolgt ausschließlich über eine verschlüsselte SSL- bzw. TLS-Verbindung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von “http://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
  </p>
  <p class="legal-text">
    Bei verschlüsselter Kommunikation können Ihre Zahlungsdaten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
  </p>

  <h3 class="legal-title">Auskunft, Sperrung, Löschung</h3>

  <p class="legal-text">
    Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
  </p>

  <h3 class="legal-title">Widerspruch Werbe-Mails</h3>

  <p class="legal-text">
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
  </p>

  
  <h3 class="legal-title">Änderung dieser Datenschutzerklärung</h3>

  <p class="legal-text">
    Wir behalten uns das Recht vor, diese Datenschutzbestimmungen unter Einhaltung der gesetzlichen Vorgaben jederzeit zu ändern.
  </p>

  <h3 class="legal-title">Geltendes Recht</h3>

  <p class="legal-text">
    Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts.
  </p>

  <h3 class="legal-title">2. Datenerfassung auf unserer Webseite</h3>

  <h3 class="legal-title">Cookies</h3>

  <p class="legal-text">
    Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
  </p>
  
  <p class="legal-text">
    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
  </p>

  
  <p class="legal-text">
    Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
  </p>


  <p class="legal-text">
    Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Webseitenbetreiber hat ein berechtigtes Interesse an der Speicherung der Cookies zur technisch fehlerfreien und optimalen Bereitstellung seiner Dienste. Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.
  </p>

  <ion-button>
    Revoke Consent
  </ion-button>


  <h3 class="legal-title">Server-Log-Files</h3>

  <p class="legal-text">
    Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:
  </p>

  <ul>
    <li>Browsertyp und Browserversion</li>
    <li>verwendetes Betriebssystem</li>
    <li>Referrer URL</li>
    <li>Hostname des zugreifenden Rechners</li>
    <li>Uhrzeit der Serveranfrage</li>
    <li>IP-Adresses</li>
  </ul>

  <p class="legal-text">
    Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden. Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Webseitenbetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien und optimalen Darstellung seiner Webseite – hierzu müssen die Server-Log-Files erfasst werden.
  </p>

  <h3 class="legal-title">Kontaktformular</h3>

  <p class="legal-text">
    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
  </p>
  
  <p class="legal-text">
    Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
  </p>

  <p class="legal-text">
    Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insb. Aufbewahrungsfristen – bleiben unberührt.
  </p>


  <h3 class="legal-title">Registrierung auf dieser Webseite</h3>

  <p class="legal-text">Sie können sich auf unserer Webseite registrieren, um zusätzliche Funktionen auf der Seite zu nutzen. Die dazu eingegebenen Daten verwenden wir nur zum Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes, für den Sie sich registriert haben. Die bei der Registrierung abgefragten Pflichtangaben müssen vollständig angegeben werden. Anderenfalls werden wir die Registrierung ablehnen.

  </p>
  <p class="legal-text">Für wichtige Änderungen etwa beim Angebotsumfang oder bei technisch notwendigen Änderungen nutzen wir die bei der Registrierung angegebene E-Mail-Adresse, um Sie auf diesem Wege zu informieren.

  </p>
  <p class="legal-text">
    Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können eine von Ihnen erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.
  </p>
  <p class="legal-text">
    Die bei der Registrierung erfassten Daten werden von uns gespeichert, solange Sie auf unserer Webseite registriert sind und werden anschließend gelöscht. Gesetzliche Aufbewahrungsfristen bleiben unberührt.
  </p>

  <h3 class="legal-title">
    Verarbeiten von Daten (Kunden- und Vertragsdaten)
  </h3>

  <p class="legal-text">
    Wir erheben, verarbeiten und nutzen personenbezogene Daten nur, soweit sie für die Begründung, inhaltliche Ausgestaltung oder Änderung des Rechtsverhältnisses erforderlich sind (Bestandsdaten). Dies erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet. Personenbezogene Daten über die Inanspruchnahme unserer Internetseiten (Nutzungsdaten) erheben, verarbeiten und nutzen wir nur, soweit dies erforderlich ist, um dem Nutzer die Inanspruchnahme des Dienstes zu ermöglichen oder abzurechnen.

  </p>
  <p class="legal-text">
    Die erhobenen Kundendaten werden nach Abschluss des Auftrags oder Beendigung der Geschäftsbeziehung gelöscht nicht jedoch vor Ablauf der gesetzlichen Aufbewahrungsfristen gelöscht.

  </p>
  
  <p class="legal-text">
    Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen gestattet.

  </p>

  <p class="legal-text">Datenübermittlung bei Vertragsschluss für Dienstleistungen und digitalen Inhalten

  </p>
  <p class="legal-text">Wir übermitteln personenbezogene Daten an Dritte nur dann, wenn dies im Rahmen der Vertragsabwicklung notwendig ist, etwa an das mit der Zahlungsabwicklung beauftragte Kreditinstitut.

  </p>
  <p class="legal-text">Eine weitergehende Übermittlung der Daten erfolgt nicht bzw. nur dann, wenn Sie der Übermittlung ausdrücklich zugestimmt haben. Eine Weitergabe Ihrer Daten an Dritte ohne ausdrückliche Einwilligung, etwa zu Zwecken der Werbung, erfolgt nicht.

  </p>
  <p class="legal-text">Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
  </p>


  <h3 class="legal-title">
    3. Drittmodule und Analysetools
  </h3>
  
  <h3 class="legal-title">
    Google Analytics
  </h3>


  <p class="legal-text">
    Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA.

  </p>
  <p class="legal-text">
    Google Analytics verwendet so genannte “Cookies”. Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.

  </p>
  <p class="legal-text">
    Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerklärung von Google:

  </p>
  <p class="legal-text">
    https://support.google.com/analytics/answer/6004245?hl=de
  </p>
  <p class="legal-text">
    Browser Plugin
  </p>
  <p class="legal-text">
    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: https://tools.google.com/dlpage/gaoptout?hl=de
  </p>

  <h3 class="legal-title">
    Demografische Merkmale bei Google Analytics

  </h3>

  <p class="legal-text">
    Diese Website nutzt die Funktion “demografische Merkmale” von Google Analytics. Dadurch können Berichte erstellt werden, die Aussagen zu Alter, Geschlecht und Interessen der Seitenbesucher enthalten. Diese Daten stammen aus interessenbezogener Werbung von Google sowie aus Besucherdaten von Drittanbietern. Diese Daten können keiner bestimmten Person zugeordnet werden. Sie können diese Funktion jederzeit über die Anzeigeneinstellungen in Ihrem Google-Konto deaktivieren oder die Erfassung Ihrer Daten durch Google Analytics wie im Punkt “Widerspruch gegen Datenerfassung” dargestellt generell untersagen.

  </p>
  <p class="legal-text">
    Auftragsdatenverarbeitung

  </p>  
  <p class="legal-text">
    Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die strengen Vorgaben der deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.

  </p>  

  <p class="legal-text">
    IP-Anonymisierung

  </p>
  
  <p class="legal-text">
    Wir nutzen die Funktion “Aktivierung der IP-Anonymisierung” auf dieser Webseite. Dadurch wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.

  </p>
  <p class="legal-text">
    Rechtsgrundlage
  </p>
  <p class="legal-text">
    Die Speicherung von Google-Analytics-Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Webseitenbetreiber hat ein berechtigtes Interesse an der Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine Werbung zu optimieren.

  </p>

  <h3 class="legal-title">
    Facebook-Pixel
  </h3>

  <p class="legal-text">
    Unsere Webseite nutzt zur Konversionsmessung das Besucheraktions-Pixel von Facebook, Facebook Inc. 1601 S. California Ave, Palo Alto, CA 94304, USA (“Facebook”).

  </p>
  <p class="legal-text">
    So kann das Verhalten der Seitenbesucher nachverfolgt werden, nachdem diese durch Klick auf eine Facebook-Werbeanzeige auf die Webseite des Anbieters weitergeleitet wurden. Dadurch können die Wirksamkeit der Facebook-Werbeanzeigen für statistische und Marktforschungszwecke ausgewertet werden und zukünftige Werbemaßnahmen optimiert werden.
  </p>

  <p class="legal-text">
    Die erhobenen Daten sind für uns als Betreiber dieser Webseite anonym, wir können keine Rückschlüsse auf die Identität der Nutzer ziehen. Die Daten werden aber von Facebook gespeichert und verarbeitet, sodass eine Verbindung zum jeweiligen Nutzerprofil möglich ist und Facebook die Daten für eigene Werbezwecke, entsprechend der Facebook- Datenverwendungsrichtlinie (https://www.facebook.com/about/privacy/) verwenden kann. Dadurch kann Facebook das Schalten von Werbeanzeigen auf Seiten von Facebook sowie außerhalb von Facebook ermöglichen. Diese Verwendung der Daten kann von uns als Seitenbetreiber nicht beeinflusst werden.
  </p>

  <h3 class="legal-title">
    Datenschutzerklärung für die Nutzung von Twitter / Konversionsmessung mit dem „Twitter-Pixel“ / „Custom Audiences“
  </h3>

  <p class="legal-text">
    Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion “Re-Tweet” werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten.
  </p>
  <p class="legal-text">
    Mithilfe des auf unseren Seiten gesetzten „Twitter-Pixels“ können wir insbesondere Aktionen von Nutzern nachverfolgen, nachdem diese eine Twitter-Werbeanzeige gesehen oder angeklickt haben. Dieses Verfahren dient dazu, die Wirksamkeit der Twitter-Werbeanzeigen für statistische Zwecke und Marktforschungszwecke auszuwerten und kann dazu beitragen, zukünftige Werbemaßnahmen zu optimieren.
  </p>
  <p class="legal-text">
    Die erhobenen Daten sind für uns anonym, sodass wir keine Rückschlüsse auf die Identität der Nutzer ziehen können. Allerdings werden die Daten von Twitter gespeichert und verarbeitet, sodass eine Verbindung zum jeweiligen Nutzerprofil möglich ist und Twitter die Daten für eigene Werbezwecke, entsprechend der Twitter-Datenschutzerklärung verwenden kann. Sie können Twitter sowie dessen Partnern das Schalten von Werbeanzeigen auf und außerhalb von Twitter ermöglichen. Es kann ferner zu diesen Zwecken ein Cookie auf Ihrem Rechner gespeichert werden. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter http://twitter.com/privacy.
  </p>
  
  <p class="legal-text">
    Ihre Datenschutzeinstellungen und Einwilligungen bei Twitter können Sie in den Konto-Einstellungen unter: http://twitter.com/account/settings ändern.
  </p>


  <h3 class="legal-title">
    Google Analytics Remarketing
  </h3>

  <p class="legal-text">
    Unsere Webseiten nutzen die Funktionen von Google Analytics Remarketing in Verbindung mit den geräteübergreifenden Funktionen von Google AdWords und Google DoubleClick. Anbieter ist die Google Inc. 1600 Amphitheatre Parkway Mountain View, CA 94043, USA.
  </p>

  <p class="legal-text">
    Diese Funktion ermöglicht es die mit Google Analytics Remarketing erstellten Werbe-Zielgruppen mit den geräteübergreifenden Funktionen von Google-AdWords und Google-DoubleClick zu verknüpfen. Auf diese Weise können interessenbezogene, personalisierte Werbebotschaften, die in Abhängigkeit Ihres früheren Nutzungs- und Surfverhaltens auf einem Endgerät (z.B. Handy) an Sie angepasst wurden auch auf einem anderen Ihrer Endgeräte (z.B. Tablet oder PC) angezeigt werden.
  </p>
  <p class="legal-text">
    Haben Sie eine entsprechende Einwilligung erteilt, verknüpft Google zu diesem Zweck Ihren Web- und App-Browserverlauf mit Ihrem Google-Konto. Auf diese Weise können auf jedem Endgerät auf dem Sie sich mit Ihrem Google-Konto anmelden, dieselben personalisierten Werbebotschaften geschaltet werden.

  </p>

  <p class="legal-text">
    Zur Unterstützung dieser Funktion erfasst Google Analytics google-authentifizierte ID´s der Nutzer, die vorübergehend mit unseren Google-Analytics-Daten verknüpft werden, um Zielgruppen für die geräteübergreifende Anzeigenwerbung zu definieren und zu erstellen.
  </p>
  <p class="legal-text">
    Sie können dem geräteübergreifenden Remarketing/Targeting dauerhaft widersprechen, indem Sie personalisierte Werbung in Ihrem Google-Konto deaktivieren; folgen Sie hierzu diesem Link:

  </p>
  <p class="legal-text">
    https://www.google.com/settings/ads/onweb/
  </p>

  <p class="legal-text">Weitergehende Informationen und die Datenschutzbestimmungen finden Sie in der Datenschutzerklärung von Google unter:</p>
  <p class="legal-text">http://www.google.com/policies/technologies/ads/</p>
  <p class="legal-text">Die Zusammenfassung der erfassten Daten in Ihrem Google-Konto Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung, die Sie bei Google abgeben oder widerrufen können (Art. 6 Abs. 1 lit. a DSGVO). Bei Datenerfassungsvorgängen, die nicht in Ihrem Google-Konto zusammengeführt werden (z.B. weil Sie kein Google-Konto haben oder der Zusammenführung widersprochen haben) beruht die Erfassung der Daten auf Art. 6 Abs. 1 lit. f DSGVO. Das berechtigte Interesse ergibt sich daraus, dass der Webseitenbetreiber ein Interesse an der anonymisierten Analyse der Webseitenbesucher zu Werbezwecken hat.</p>


  <h3 class="legal-title">
    Google AdWords und Google Conversion-Tracking
  </h3>

  <p class="legal-text">
    Diese Webseite verwendet Google AdWords. AdWords ist ein Online-Werbeprogramm der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States (“Google”).
  </p>

  <p class="legal-text">Im Rahmen von Google AdWords nutzen wir das so genannte Conversion-Tracking. Wenn Sie auf eine von Google geschaltete Anzeige klicken wird ein Cookie für das Conversion-Tracking gesetzt. Bei Cookies handelt es sich um kleine Textdateien, die der Internet-Browser auf dem Computer des Nutzers ablegt. Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung der Nutzer. Besucht der Nutzer bestimmte Seiten dieser Website und das Cookie ist noch nicht abgelaufen, können Google und wir erkennen, dass der Nutzer auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet wurde.

  </p>
  <p class="legal-text">Jeder Google AdWords-Kunde erhält ein anderes Cookie. Die Cookies können nicht über die Websites von AdWords-Kunden nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen. Wenn Sie nicht am Tracking teilnehmen möchten, können Sie dieser Nutzung widersprechen, indem Sie das Cookie des Google Conversion-Trackings über ihren Internet-Browser unter Nutzereinstellungen leicht deaktivieren. Sie werden sodann nicht in die Conversion-Tracking Statistiken aufgenommen.

  </p>
  <p class="legal-text">Die Speicherung von „Coversion-Cookies“ erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Webseitenbetreiber hat ein berechtigtes Interesse an der Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine Werbung zu optimieren.

  </p>
  <p class="legal-text">Mehr Informationen zu Google AdSense und Google Conversion-Tracking finden Sie in den Datenschutzbestimmungen von Google:

  </p>
  <p class="legal-text">
    http://www.google.de/policies/privacy/
  </p>
  <p class="legal-text">
    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
  </p>

  
  <h3 class="legal-title">
    4. Sonstige Informationen
  </h3>
  
  <h3 class="legal-title">
    Einhaltung von Gesetzen

  </h3>


  <p class="legal-text">
    Wir werden Ihre persönlichen Daten offenlegen, wenn dies gesetzlich vorgeschrieben oder durch eine Vorladung verfügt wird oder wenn wir glauben, dass diese Maßnahmen erforderlich sind, um das Gesetz und die angemessenen Forderungen der Strafverfolgungsbehörden zu erfüllen oder die Sicherheit oder Integrität unseres Dienstes zu schützen.

  </p>

  <h3 class="legal-title">
    Business Transaktionen

  </h3>

  <p class="legal-text">
    Falls Crowdy.ai an einer Fusion, an einer Übernahme oder einem Vermögensverkauf beteiligt ist, können Ihre personenbezogenen Daten übertragen werden. Wir informieren Sie, bevor Ihre personenbezogenen Daten übertragen werden und einer anderen Datenschutzerklärung unterliegen.

  </p>
  
  

  <h3 class="legal-title">
    Internationaler Transfer


  </h3>

  <p class="legal-text">
    Ihre Informationen einschließlich personenbezogener Daten können an Computer weitergegeben werden, die sich außerhalb Ihres Staates, Ihrer Provinz, Ihres Landes oder im Geltungsbereich einer anderen staatlichen Gerichtsbarkeit befinden, wo die Datenschutzgesetze von den für Ihren Standort gültigen Gesetzen abweichen können.

  </p>
  
  <p class="legal-text">
    Wenn Sie sich außerhalb von Germany befinden und uns Informationen zur Verfügung stellen, beachten Sie bitte, dass wir die Informationen, einschließlich personenbezogener Daten, nach Germany übertragen und dort verarbeiten.


  </p>
  <p class="legal-text">
    Ihre Zustimmung zu dieser Datenschutzerklärung, gefolgt von Ihrer Einreichung solcher Daten entspricht Ihrer Zustimmung zu dieser Übertragung.


  </p>
  
  
  <h3 class="legal-title">Links zu anderen Seiten

  </h3>

  <p class="legal-text">
    Unser Service kann Links zu anderen Websites enthalten, die nicht von uns betrieben werden. Wenn Sie auf einen Link eines Drittanbieters klicken, werden Sie an die Website des Dritten weitergeleitet. Wir empfehlen Ihnen dringend, die Datenschutzrichtlinien jeder Website, die Sie besuchen, zu überprüfen.
  </p>
  <p class="legal-text">
    Wir haben keine Kontrolle über und übernehmen keine Verantwortung für, die Inhalte, Datenschutzrichtlinien oder Praktiken von Websites oder Diensten von Drittanbietern.
  </p>
  

  <h3 class="legal-title">Datenschutz und Kinder</h3>
  
  <p class="legal-text">Unser Service richtet sich nicht an Personen unter 13 Jahren (“Kinder”).  </p>

  <p class="legal-text">Wir sammeln nicht wissentlich personenbezogene Daten von Kindern unter 13 Jahren. Wenn Sie ein Elternteil oder Vormund sind und wissen, dass Ihr Kind uns persönliche Daten übermittelt hat, kontaktieren Sie uns bitte. Wenn wir uns bewusst sind, dass wir personenbezogene Daten von Kindern unter 13 Jahren ohne Zustimmung der Eltern gesammelt haben, ergreifen wir Maßnahmen, um diese Informationen von unseren Servern zu entfernen.

  </p>

  <h3 class="legal-title">BStand: Februar 2021


  </h3>

</div>