// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background);

  --page-swiper-pagination-space: 40px;
  --page-swiper-pagination-height: 18px;
  --page-pagination-bullet-size: 10px;

  --page-first-slide-background: #c1ebff;
  --page-second-slide-background: #a9ebd2;
  --page-third-slide-background: #f0cbe5;
  --page-last-slide-background: #eef3ff;

  --page-vector-decoration-fill: var(--ion-color-light-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-header {
  ion-toolbar {
    --ion-toolbar-background: transparent;

    // For the skip button
    ion-button {
      --color: var(--ion-color-lightest);
    }
  }
}

ion-content {
  // To get the ion-content behind the ion-header
  position: absolute;
  top: 0;
}

.walkthrough-slides {
  --bullet-background: var(--ion-color-dark);
  --bullet-background-active: var(--ion-color-dark);

  height: 100%;

  .slide-inner-row {
    height: 100%;
    width: 100%;
    padding: 0px;
    // Header space
    // padding-top: calc(var(--app-header-height) + var(--ion-safe-area-top));
    // .swiper-pagination space
    // border-bottom: var(--page-swiper-pagination-space) solid transparent;
    background-clip: padding-box;
    background-color: var(--page-vector-decoration-fill);
  }
}

.illustration-and-decoration-slide {
  .slide-inner-row {
    --ion-grid-column-padding: 0px;

    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .illustration-col {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: auto;
    min-height: fit-content;
    max-width: 30vh;
    padding: 0px;
  }

  .decoration-col {
    flex-grow: 0;
    flex-shrink: 1;

    // To prevent transparent line caused by pixel fractions
    min-height: 12vh;
    transform: translate3d(0px, 0px, 0px);

    .vector-decoration {
      fill: currentColor;
      color: var(--page-vector-decoration-fill);
      background-color: var(--page-background);
      padding-bottom: 4px;

      // To prevent transparent line caused by pixel fractions
      transform: translate3d(0px, 0px, 0px);
      shape-rendering: geometricprecision;
      height: calc(100% + 1px);
    }
  }

  .info-col {
    flex-grow: 1;
    flex-shrink: 0;
    min-height: auto;
    background-color: var(--page-background);

    // To prevent transparent line caused by pixel fractions
    margin-bottom: -1px;
    // Prevent .info-wrapper text to blink as it's over the previous element (Safari issue)
    transform: translate3d(0px, 0px, 0px);

    .info-wrapper {
      margin: calc(var(--page-margin) * -1) var(--page-margin) 0px;
      margin-top: calc(var(--page-margin) * 2);

      text-align: left;

      .info-title {
        margin: 0px;
        margin-bottom: var(--page-margin);
        color: var(--ion-color-dark);
        font-family: "Inter";
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: left;
      }

      .info-paragraph {
        color: var(--ion-color-medium-shade);
        margin: 0px 0px calc(var(--page-margin) / 2);
        font-family: "Inter";
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: center;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.first-slide {
  --page-vector-decoration-fill: var(--page-first-slide-background);
}

.second-slide {
  --page-vector-decoration-fill: var(--page-second-slide-background);
}

.third-slide {
  // --page-vector-decoration-fill: var(--page-third-slide-background);
  --page-vector-decoration-fill: var(--page-last-slide-background);
}

.last-slide {
  --page-vector-decoration-fill: var(--page-last-slide-background);

  .slide-inner-row {
    // In the last slide .swiper-pagination is hidden
    border-width: 0px;
  }

  .info-col {
    padding: var(--page-margin);
    // margin-bottom: calc(var(--page-margin) * 3);
    .info-outer {
      height: 100%;
      align-items: flex-end;
      flex-direction: column;

      .info-wrapper {
        margin: calc(var(--page-margin) * -1) var(--page-margin) 0px;
      }

      .call-to-actions-wrapper {
        max-height: fit-content;
        position: absolute;
        bottom: 15%;
        width: 100%;
      }
    }

    .get-started-button {
      margin: 0px;
    }

    .alt-call-to-action-row {
      padding-top: 5px;
      align-items: center;
      justify-content: space-evenly;

      .cta-leading-text {
        color: var(--ion-color-medium);
        font-size: 16px;
      }

      .login-button {
        --color: var(--ion-color-secondary);
        margin: 0px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

:host(.first-slide-active) {
  .skip-walkthrough-button {
    visibility: hidden;
  }
}

:host(.last-slide-active) {
  ::ng-deep .walkthrough-slides {
    .swiper-pagination {
      display: none;
    }
  }

  .skip-walkthrough-button {
    visibility: hidden;
  }
}

// ISSUE: .swiper-paggination gets rendered dynamically. That prevents styling the elements when using the default Angular ViewEncapsulation.None
//        (Angular doesn't add an '_ngcontent' attribute to the .swiper-paggination because it's dynamically rendered)
// FIX:   See: https://stackoverflow.com/a/36265072/1116959
:host ::ng-deep .walkthrough-slides {
  .swiper-pagination {
    height: var(--page-swiper-pagination-height);
    line-height: 1;
    // .swiper-pagination is 18px height, .slide-inner-row has 40px of padding-bottom => bottom = (40px - 18px)/2 = 11px
    bottom: calc(
      (
          var(--page-swiper-pagination-space) -
            var(--page-swiper-pagination-height)
        ) / 2
    );

    .swiper-pagination-bullet {
      width: var(--page-pagination-bullet-size);
      height: var(--page-pagination-bullet-size);
    }
  }
}
