@import "mixins/ion-color";

// Add custom colors to use with [color] property
// (see: https://forum.ionicframework.com/t/adding-custom-colours-to-use-with-color-property/136919)
// GLOBAL COLORS:
//    You can define new Ionic colors here (inside :root{ ... }) to be available within the entire app
// LOCAL COLORS:
//    You can also define new Ionic colors in each page (inside :host{ ... }) to be available just in that page
//    (We have an example of local custom Ionic colors in the deals pages)
:root {
  @include ion-color("facebook") {
    --ion-color-facebook: #3b5998;
    --ion-color-facebook-rgb: 59, 89, 152;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255, 255, 255;
    --ion-color-facebook-shade: #344e86;
    --ion-color-facebook-tint: #4f6aa2;
  }

  @include ion-color("google") {
    --ion-color-google: #cc181e;
    --ion-color-google-rgb: 204, 24, 30;
    --ion-color-google-contrast: #ffffff;
    --ion-color-google-contrast-rgb: 255, 255, 255;
    --ion-color-google-shade: #b4151a;
    --ion-color-google-tint: #d12f35;
  }

  @include ion-color("twitter") {
    --ion-color-twitter: #00aced;
    --ion-color-twitter-rgb: 0, 172, 237;
    --ion-color-twitter-contrast: #ffffff;
    --ion-color-twitter-contrast-rgb: 255, 255, 255;
    --ion-color-twitter-shade: #0097d1;
    --ion-color-twitter-tint: #1ab4ef;
  }

  @include ion-color("grey-primary") {
    --ion-color-grey-primary: #8da1b5;
    --ion-color-grey-primary-rgb: 141, 161, 181;
    --ion-color-grey-primary-contrast: #ffffff;
    --ion-color-grey-primary-contrast-rgb: 0, 0, 0;
    --ion-color-grey-primary-shade: #7c8e9f;
    --ion-color-grey-primary-tint: #98aabc;
  }
  @include ion-color("lighter-grey") {
    --ion-color-lighter-grey: #f3f3f4;
    --ion-color-lighter-grey-rgb: 243, 243, 244;
    --ion-color-lighter-grey-contrast: #828282;
    --ion-color-lighter-grey-contrast-rgb: 0, 0, 0;
    --ion-color-lighter-grey-shade: #d6d6d7;
    --ion-color-lighter-grey-tint: #f4f4f5;
  }

  @include ion-color("skip-btn") {
    --ion-color-skip-btn: #1d2a64;
    --ion-color-skip-btn-rgb: 29, 42, 100;
    --ion-color-skip-btn-contrast: #ffffff;
    --ion-color-skip-btn-contrast-rgb: 255, 255, 255;
    --ion-color-skip-btn-shade: #1a2558;
    --ion-color-skip-btn-tint: #343f74;
  }
}
