<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Terms Of Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <h3 class="legal-header">General Terms and Conditions of the Company Trust UG (haftungsbeschraenkt)</h3>
  
  <h3 class="legal-title">General</h3>
  <p class="legal-text">
    These General Terms and Conditions of Business (“GTC”) elucidate the purchase of goods and services over the website telllisa.com (hereinafter the “Website”) operated by G-TAC Software (hereinafter “us”, “we” or “our”). Furthermore, they regulate the use of the website.
  </p>
  <h3 class="legal-title">
    Contract partner and instructions for the conclusion of the contract
  </h3>
  <p class="legal-text">
    The exclusive vendor and contract partner for non-german market of the goods and services offered over the website telllisa.com is the Paddle.com Market Ltd, 15 Bermondsey Square, SE1 3UN London, United Kingdom (hereinafter “Paddle”). The contract conclusion over us, in our capacity as the operator of this website, is therefore neither feasible nor valid. Valid are the terms and conditions separately specified by Paddle prior to the conclusion of the contract. The General Terms and Conditions (GTC) of Paddle, shall in the case of contradiction, be deemed to take precedence over the General Terms and Conditions (GTC) specified herein.
  </p>

  <p class="legal-text">
    The offers provisioned on our website exclusively constitute an invitation to submit a contract offer to Paddle. In order to purchase goods or services over our website, you must first select the desired goods / services. After selecting the goods you will be redirected to Paddle. Only after being redirected to Paddle, is it possible for you to submit a binding contract offer by clicking on the “Pay” button. The acceptance of the contract is concluded, insofar as you are prompted for payment by Paddle, or insofar as you are enabled to download the digital content.
  </p>
  <p class="legal-text">
    When placing an offer via the online order form on our website, the contract text is not stored by us.
  </p>
  <p class="legal-text">
    Prior to the binding submission of the order, you can at any given time correct your entries using the usual keyboard and mouse functions. In addition, all entries prior to the binding submission of the order are displayed again in a confirmation window and can also be corrected there using the usual keyboard and mouse functions.
  </p>
  <p class="legal-text">
    The following languages are available for the conclusion of the contract: German and English.
  </p>
  <p class="legal-text">
    The processing of the payment is effected over Paddle. You will be informed by Paddle, about the payment methods and payment details. Valid are the prices listed on our website at the time of the placement of the order.
  </p>
  <p class="legal-text">
    After the payment, the subscribed / purchased services are provisioned, ready for you to download and use.
  </p>


  <h3 class="legal-title">Exclusion of consumers / private individuals</h3>
  <p class="legal-text">
    The services offered over this website are exclusively reserved for entrepreneurs / companies. Consumers / private individuals are not entitled to procure our services.
  </p>
  
  <h3 class="legal-title">Services and rights of use</h3>
  <p class="legal-text">
    Customers can procure software (hereinafter referred to as “Service”) for a specified period of time, over the website. The Service is available to the customer in the latest version over the Internet against a fee. The current functional scope of the Service results from its current performance specification on our website. We shall immediately remedy all software faults, according to the given technical possibilities. A software fault is deemed to exist, insofar as the software does not fulfil the functions specified in the performance specification, returns erroneous results or otherwise does not function properly, so that the use of the software is rendered impossible or limited.
  </p>
  <p class="legal-text">
    The customer is granted the non-exclusive and non-transferable right to use the procured Service, as intended, during the term of the contract. The customer may only edit the software, insofar as this is covered by the intended use of the software according to the current performance specification. The customer may only reproduce the software, insofar as this is covered by the intended use of the software, in accordance with the current performance specification. The customer is not entitled to make the software available for use to third parties against payment or free of charge. The subletting of the software on the part of the customer is therefore expressly prohibited.
  </p>

  <h3 class="legal-title">Warranty</h3>
  <p class="legal-text">
    Valid for the procured goods / services are the statutory warranty provisions for defects.
  </p>
  
  <h3 class="legal-title">Subscriptions</h3>

  <p class="legal-text">Some parts of the Service are billed on a subscription basis (hereinafter “Subscription(s)”, “Subscription Service(s)”). They are billed in advance on a recurring and periodic basis (hereinafter “Billing Period”). The duration of the Billing Period is either one month or one year, depending on which Subscription Service you selected at the time of the procurement.
  </p>
  <p class="legal-text">At the end of each billing cycle, the Subscription automatically renews pursuant to the exact same terms, unless terminated at the latest on the last day before the start of a new billing cycle. Upon termination, your right of use will be terminated, at the end of the pro rata already paid for, Subscription Service(s). Insofar as you want to cancel your account, you can manually do this over our Service dashboard. Your authorised regular payment, with regard to our Reseller Paddle, will automatically be terminated subject to the notice.
  </p>
  <p class="legal-text">A valid payment method, including credit card or PayPal, is required to process the payment for your Subscription. You must provide your payment details including the full name, address, state, postal code, telephone number and valid payment method information at the time of the conclusion of the contract. By submitting this payment details, you automatically entitle Paddle to direct debit all Subscription fees for your account, through this means of payment.
  </p>
  <p class="legal-text">If for any reason automatic direct debit fails, Paddle will issue an electronic invoice stating that within a specified period of time, you will be required to manually pay the full amount corresponding to the billing period indicated on the invoice.
  </p>

  <h3 class="legal-title">Free trial Subscription Service</h3>
  <p class="legal-text">You can subscribe for the provision of a free trial version for a limited period of time (hereinafter “Free Trial”, “Trial-Subscription Service”).
  </p>
  <p class="legal-text">You may need to enter your billing information to sign up for the free trial. This information is required to prevent misuse of the free trial feature (for example, by way of multiple registrations).
  </p>
  <p class="legal-text">Insofar as you enter your billing information, when you sign up for the free trial version, G-TAC will not debit you until the term of the free trial version expires. Insofar as you have not cancelled the Subscription, you will automatically be charged the applicable fee for the Subscription Service you selected, on the last day of the term of the free trial version.
  </p>
  <p class="legal-text">The free trial versions can be changed or discontinued at any time.
  </p>

  <h3 class="legal-title">Change of fees </h3>
  <p class="legal-text">
    <strong>Trust</strong> reserves the right, to at its sole discretion and at any time, but no more than once within 365 days, change the fees for the Subscriptions. Any change to the Subscription fees will take effect at the end of the current billing cycle.
  </p>
  <p class="legal-text">
    <strong>Trust</strong> shall provide you with adequate notice of any change to the Subscription fees, in order to grant you the opportunity to cancel your Subscription before this change takes effect.
  </p>
  <p class="legal-text">
    Your continued use of the Service after the change in Subscription fees has come into force, shall be deemed to constitute your granted consent to pay the changed Subscription fee.
  </p>

  <h3 class="legal-title">Refunds</h3>
  <p class="legal-text">
    Specific requests for refunds for Subscriptions may be reviewed by <strong>G-TAC</strong> on a case-by-case basis and granted at the sole discretion of <strong>G-TAC</strong>.
  </p>
  <h3 class="legal-title">Content</h3>
  <p class="legal-text">
    Our Service permits you to post, link, store, share and otherwise distribute specific information, text, graphics, videos or other material (hereinafter “Content”). You are responsible for the Content you send to the Service, including its legality, reliability and adequacy.
  </p>
  
  <p class="legal-text">
    By sending Content to the Service, you grant us the right and license to use, modify, show publicly, publicly display, reproduce and distribute such Content, on and through the Service. You retain all rights to the Content you submit to us, on or through the Service, and you are responsible for the protection of such rights. You herewith expressly declare that this license includes the right to make your Content available to other users of the Service, who may also use the Content under these Terms and Conditions.
  </p>

  <p class="legal-text">
    You herewith expressly declare and warrant that: (i) the Content is yours (you own it), or you have the right to use it and grant us the rights and licenses in accordance with these Terms of Use, and (ii) the publishing of your Content, on or through the Service, does not violate the rights, privacy, publication rights, copyrights, contract rights or other rights, of any given third party.
  </p>

  <h3 class="legal-title">
    Accounts
  </h3>

  <p class="legal-text">
    When you create an account with us, you must provide us with information that is accurate, complete and up-to-date at all times. Failure to comply with these terms constitutes a breach of the Terms of Use which may result in immediate termination of your account on our Service.
  </p>
  <p class="legal-text">You are responsible for the safeguarding of the password that you use to access the Service, and for all activities or actions executed under your password, regardless of whether your password was created for our Service or for a third-party service.
  </p>
  <p class="legal-text">You are not permitted to disclose your password to third parties. You must notify us immediately, insofar as you become aware of any breach of the security or unauthorised use of your account.
  </p>
  <p class="legal-text">You may not use as a username: the name of another person or entity that is not lawfully available for use; a name or a trademark without appropriate authorization, for which the rights are owned by third parties or organisations, other than yourself; or a name that is offensive, vulgar or obscene.
  </p>

  <h3 class="legal-title">
    Copyright guidelines
  </h3>

  <p class="legal-text">
    We respect the intellectual property rights of third parties. It is our policy to respond to any allegation, pursuant to which it is adduced that Content posted on the Service violates the copyright or other intellectual property rights of any given third party (hereinafter “Infringement”).
  </p>
  <p class="legal-text">
    Insofar as you own a copyright or are authorised by the copyright owner, and you believe that the copyrighted work has been copied in a manner that constitutes an infringement of the copyright, on account of its publication through the Service, you must notify the competent “Copyright Infringement” department in writing under <strong>dmca at telllisa dot com</strong> and enclose with your message a detailed description of the alleged Infringement.
  </p>
  <p class="legal-text">
    You may be held responsible for any damages (including costs and attorney’s fees) for a false claim that any Content whatsoever constitutes an Infringement of your copyright.
  </p>

  <h3 class="legal-title">
    Intellectual property
  </h3>

  <p class="legal-text">
    The Service and its original Content (excluding the Content provisioned by users), its features and functionality are and remain the property of <strong>G-TAC</strong> and its licensors. The Service is protected by copyright, trademarks and other laws of the State of Rhineland-Palatinate, Germany as well as other countries. Our trademarks and trade names may not be used in connection with products or services without the prior written consent of <strong>G-TAC</strong>.
  </p>

  <h3 class="legal-title">
    Links to other websites
  </h3>

  <p class="legal-text">
    Our Service may entail links to third-party websites or services that are not the property of <strong>G-TAC</strong>.
  </p>
  <p class="legal-text">
    <strong>G-TAC</strong> neither has control, nor accepts responsibility for the content, data protection provisions or practices of any third party websites or services. You further expressly declare that <strong>G-TAC</strong> is not responsible or liable, directly or indirectly, for any damage or loss arising from or in connection with the use or reliance on such content, goods or services, on or through such websites or services.
  </p>
  <p class="legal-text">
    We strongly recommend that you read through, the terms and conditions of use and the data protection policies of third-party websites or services, which you visit.
  </p>

  <h3 class="legal-title">
    Termination
  </h3>

  <p class="legal-text">
    We reserve the right to terminate or suspend your account immediately, without notice or liability, for any reason whatsoever, and without limitation, insofar as you violate these General Terms and Conditions (GTC).
  </p>
  <p class="legal-text">
    Upon termination, your right of use will be discontinued immediately. If you want to cancel your account, you can simply terminate your use of the Service.
  </p>

  <h3 class="legal-title">
    Liability
  </h3>

  <p class="legal-text">
    We expressly point out that you are solely responsible for the compliance with the statutory provisions when using our software. This applies in particular to compliance with the data protection law. The following liability rules remain unaffected, wherefrom.
  </p>
  <p class="legal-text">
    We are liable to the customer for all contractual, quasi-contractual and statutory, as well as tort claims for damages and reimbursement of expenses, as follows:
  </p>
  <p class="legal-text">
    We are unreservedly liable, irrespective of any legal reason whatsoever, in the case of intent or gross negligence, intentional or negligent injury to life, body or health, on the basis of an issued warranty, unless otherwise stipulated or due to mandatory liability.
  </p>
  <p class="legal-text">
    Insofar as we are negligently in breach of an essential contractual obligation, the liability shall be limited to the contractually typical, foreseeable damage, unless liability is unlimited in accordance with the preceding clause. Essential contractual obligations are obligations, which the contract imposes on the vendor according to the content of the vendor, for the purpose of achieving the purpose of the contract, the fulfilment of which enables the proper execution of the contract in the first place, and on the compliance of which the customer may regularly rely.
  </p>

  <p class="legal-text">
    Any other further reaching liability on our part is otherwise expressly excluded. The above liability provisions, also apply with regard to our liability for our vicarious agents and legal representatives.
  </p>
  <p class="legal-text">
    You herewith expressly indemnify us from any claims of third parties – including any associated costs of legal defence in their applicable statutory amount – that are asserted against us, on the basis of legal or contractually adverse actions on your part.
  </p>


  <h3 class="legal-title">
    Changes to these General Terms and Conditions (GTC)
  </h3>

  <p class="legal-text">
    We reserve the right to change these Terms of Use for factually justified reasons (such as changes in case law, legislation, market conditions or our corporate strategy) and in compliance with a reasonable period. Existing customers will be notified thereof by e-mail, no later than four weeks, before the change takes effect. Insofar as the existing customer does not raise an objection within the period specified in the change notification, the consent of the customer with regard to the change shall be deemed as granted. The notification of the intended change of these Terms of Use, shall expressly emphasise the specified period of objection and the consequences of the omission of an objection.
  </p>

  <h3 class="legal-title">
    Final provisions
  </h3>

  <p class="legal-text">
    Applicable is the law of the Federal Republic of Germany, under the exclusion of the UN sales law, insofar as this choice of law does not lead to a consumer being thereby deprived of mandatory consumer protection standards.
  </p>
  <p class="legal-text">
    Insofar as the customer is a merchant, a legal entity under public law or a special fund under public law, the competent court is the court with jurisdiction at our registered office, unless an exclusive place of jurisdiction is justified for the dispute. This also applies insofar as the customer is not resident in the European Union. For details of the headquarters of our company, please refer to the heading of these General Terms and Conditions (GTC).
  </p>
  <p class="legal-text">
    Insofar as any provision of this contract is or becomes invalid or unenforceable, the remaining provisions of this contract shall remain unaffected, wherefrom.
  </p>

  <h3 class="legal-title">
    Contact
  </h3>

  <p class="legal-text">
    Please do not hesitate to contact us, in case you have any questions that concern these provisions.
  </p>

  <h3 class="legal-title">
    Data protection statement for the use of Twitter / conversion measurement with „Twitter-Pixel” / „Custom Audiences”
  </h3>

  <p class="legal-text">
    Functions of the Twitter service are incorporated into our web pages. These functions are provisioned through the Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. By using Twitter and the “Re-Tweet” function, the web pages you visit are linked to your Twitter account and shared with other users. This data is also thereby transmitted to Twitter. We expressly point out that we, in our capacity as the operator and provider of this website, are not aware of the content of the transmitted data and its use by Twitter.
  </p>
  <p class="legal-text">
    In particular, using the “Twitter pixel” set on our web pages, we can track users’ actions after they’ve seen or clicked on a Twitter ad. This procedure is used to evaluate the effectiveness of Twitter advertisements for statistical purposes and market research purposes, and can contribute to the optimisation of future advertising measures. The data collected is anonymous to us, so we can not draw conclusions about the identity of the users. However, the data is stored and processed by Twitter, so that a connection to the respective user profile is possible and Twitter can use the data for its own advertising purposes, in compliance with the Twitter data protection statement. You can enable Twitter as well as its affiliates to place advertisements on and outside of Twitter. A cookie may also be stored on your computer for these purposes. For further information in this regard, please refer to the data protection statement of Twitter under http://twitter.com/privacy.
  </p>
  <p class="legal-text">
    You can change your data protection settings and consents with regard to Twitter in the Account Settings under: http://twitter.com/account/settings.
  </p>

  <h4 class="ion-text-center">Last update: February 2021</h4>
</ion-content>
