<ion-header>
  <ion-toolbar color="skip-btn" class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!-- <ion-menu-button color="light"></ion-menu-button> -->
    </ion-buttons>
    <app-aspect-ratio [ratio]="{w:100, h:12}">
      <app-image-shell style="width:150px; height: 34px; margin: 0 auto;" animation="spinner" [src]="'assets/tl-logo-simpel-white.png'" [alt]="'walkthrough'"></app-image-shell>
    </app-aspect-ratio>
    <ion-buttons slot="end">
      <div>&nbsp;</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding content-header">
    <ng-container *ngIf="board">
      <h1>{{ board?.name }}</h1>
      <h5>Recordings</h5>
    </ng-container>
  </div>
  <ion-list lines="none">

    <ng-container *ngIf="messages$ | async; let messages; else LoadingSpinner;">
      <ion-item [detail]="false" *ngFor="let message of messages">
        <ion-label class="ion-padding">
          <h2>{{ message?.title.toDate() | date: 'medium'}}</h2>
          <p>{{ message?.text }}</p>
        </ion-label>
      </ion-item>
    </ng-container>

<ng-template #LoadingSpinner>
  <div class="spin">
    <ion-spinner name="bubbles"></ion-spinner>
 </div>
</ng-template>
  </ion-list>
</ion-content>
