ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin: 6px 12px;
  border-radius: 16px;
  border: solid 1px #e2e6f1;
  background-color: #fbfcfd;
  ion-label {
    margin-inline: 0;
  }
}

.content-header {
  font-family: "Inter";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  padding-bottom: 0;
  h1 {
    margin-top: 0;
  }
}

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 50vh;

  h5 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #263238;
    width: 100%;
  }
  p {
    width: 100%;
    font-family: "Inter";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #8da1b5;
  }
}

.header-toolbar {
  padding: 16px;
}
