<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row class="user-details-wrapper ion-margin-top">
      <ion-col size="3">
        <app-aspect-ratio [ratio]="{w: 100, h: 85}">
          <app-image-shell class="user-avatar" animation="spinner" [src]="'assets/tl-images/placeholder.png'">
          </app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col class="user-info-wrapper" size="9">
        <h3 class="user-name">{{ user?.displayName }}</h3>
        <h5 class="user-handle">{{ user?.email }}</h5>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-list class="menu-list">
    <ion-menu-toggle auto-hide="false">
      <ion-item detail="false" [routerLink]="home">
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>
          Boards
        </ion-label>
      </ion-item>
      <ion-item (click)="goToWebApp()">
        <ion-icon slot="start" name="clipboard-outline"></ion-icon>
        <ion-label>
          Manage Boards
          <p>This will open the webapp.</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="openLanguageChooser();">
        <ion-icon slot="start" name="language-outline"></ion-icon>
        <ion-label>
          Language Selector
        </ion-label>
      </ion-item>
      <ng-container *ngFor="let p of accountPages; let i = index">
        <ion-item detail="false" [routerLink]="p.url">
          <ion-icon slot="start" [name]="p.ionicIcon? p.ionicIcon: ''" [src]="p.customIcon? p.customIcon: ''">
          </ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-menu-toggle>
  </ion-list>

  <ion-item class="logout-btn" color="primary">
    <ion-row class="user-details-wrapper">
      <ion-col class="user-info-footer-wrapper">
        <ion-item (click)="logout();" lines="none">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>
<!-- <ion-footer >
  <ion-toolbar color="primary">
    <ion-row class="user-details-wrapper">
      <ion-col class="user-info-footer-wrapper">
        <ion-item (click)="logout();" lines="none">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->