// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: #1d2a64;
  --page-headers-shadow-color: rgba(var(--ion-color-darkest-rgb), 0.4);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-toolbar {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --background: var(--page-background);
}

ion-content {
  --background: var(--page-background);
  height: 100vh;
}
ion-footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
}

.user-details-wrapper {
  --ion-grid-column-padding: 0px;

  // background-color: rgba(var(--ion-color-light-rgb), 0.15);
  color: var(--ion-color-lightest);
  padding: var(--page-margin);
  align-items: center;
  & + .user-details-wrapper {
    padding-top: 0px;
  }
}

.user-info-wrapper {
  padding-left: 0;

  // padding-left: var(--page-margin);

  .user-name {
    margin: 0 0 4px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .user-handle {
    margin: 0 22px 0 0;
    font-family: "Inter";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #8da1b5;
  }
}

.user-stats-wrapper {
  text-align: center;

  .user-stat-value {
    margin-right: 5px;
    font-weight: 500;
  }

  .user-stat-name {
    color: var(--ion-color-light-shade);
    font-size: 14px;
  }
}

.user-info-footer-wrapper {
  // padding-left: var(--page-margin);

  .user-name {
    margin: 0px 0px 5px;
  }

  .user-handle {
    color: var(--ion-color-light-shade);
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
  }
  ion-item {
    --background: transparent;
    color: #ffffff;
    ion-icon {
      color: #ffffff;
      margin-inline-end: 15px;
    }
  }
}

.user-stats-wrapper {
  text-align: center;

  .user-stat-value {
    margin-right: 5px;
    font-weight: 500;
  }

  .user-stat-name {
    color: var(--ion-color-light-shade);
    font-size: 14px;
  }
}

.logout-btn {
  background-color: #28cc99;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
// Menu list items
ion-list {
  --ion-text-color: var(--ion-color-light-shade);
  --ion-text-color-rgb: var(--ion-color-light-shade-rgb);
  --ion-item-background: var(--page-background);
  --ion-item-border-color: transparent;

  ion-list-header {
    --color: rgba(var(--ion-color-light-shade-rgb), 0.6);

    text-transform: uppercase;
    box-shadow: inset 0px -4px 8px -2px var(--page-headers-shadow-color);
    padding-inline-start: var(--page-margin);

    font-size: 14px;
    margin-bottom: 8px;
  }

  ion-item {
    --border-width: 0px !important;
    --padding-start: var(--page-margin);
    --background-activated: var(--ion-color-medium);
    margin: 1em 0;
  }

  ion-icon {
    color: var(--ion-color-light-shade);
  }
}

app-image-shell.user-avatar {
  --image-shell-loading-background: rgba(var(--ion-color-light-rgb), 0.15);
  --image-shell-border-radius: 50%;
  width: 56px;
  height: 56px;
}

// (Note: Don't change the order of the devices as it may break the correct css precedence)

// (see: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/#iphone-queries)
// (see: https://stackoverflow.com/a/47750261/1116959)

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .user-info-wrapper {
    .user-name {
      font-size: 18px;
    }
  }

  ion-list {
    ion-item {
      font-size: 14px;
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  .interests-to-follow-slide {
    .custom-checkbox {
      .checkbox-title {
        font-size: 18px;
      }
    }
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}
