<ion-header>
  <ion-toolbar color="skip-btn" class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <app-aspect-ratio [ratio]="{w:100, h:12}">
      <app-image-shell style="width:150px; height: 34px; margin: 0 auto;" animation="spinner"
        [src]="'assets/tl-logo-simpel-white.png'" [alt]="'walkthrough'"></app-image-shell>
    </app-aspect-ratio>
    <ion-buttons slot="end">
      <div>&nbsp;</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <app-ios-speech-fab [showFab]="showFab"></app-ios-speech-fab>

  <form class="validations-form" [formGroup]="createRecordForm" (ngSubmit)="save(createRecordForm.value)">
    <ion-list class="inputs-list" lines="none">
      <ion-list-header class="ion-margin-bottom">
        <ion-label class="header-title">Type or record your task</ion-label>
      </ion-list-header>

      <!-- When this bug (https://github.com/ionic-team/ionic-framework/issues/22117) gets fixed, remove .item-label-floating class -->
      <ion-item class="input-item">
        <textarea autofocus autosize [minRows]="8" placeholder="Type a message..." type="text" class="message-input"
          formControlName="name" required></textarea>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.name">
          <div class="error-message"
            *ngIf="createRecordForm.get('name').hasError(validation.type) && createRecordForm.get('name').dirty">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-item lines="none" class="ion-margin-vertical">
        <div class="centered">
          <ion-button class="default-btn radio-icon" shape="round" (click)="openSpeechRecognition()">
            <ion-icon slot="icon-only" name="mic-sharp"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </form>
  <div class="validations-form">
    <ion-list class="inputs-list" lines="none">
      <ion-item>
        <ion-buttons slot="start">
          <ion-button class="large-button" size="large" shape="round" color="success" [routerLink]="['/home']"
            routerDirection="backward">
            Cancel
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button class="large-button" color="tertiary" (click)="save()" size="large" shape="round">
            Save
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>