:host {
  --image-shell-border-radius: 5px;
}
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin: 6px 12px;
  border-radius: 16px;
  border: solid 1px #e2e6f1;
  background-color: #fbfcfd;
}

ion-label {
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-item h2 {
  margin: 0;
  font-family: "Inter";
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.dot-unread {
  background: var(--ion-color-primary);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

ion-thumbnail {
  padding: 0.5em;
  margin: 0 0.5em;
  // border-radius: 10px;
  // --border-radius: 10px;
  app-aspect-ration {
    app-image-shell {
      img {
        border-radius: 10px;
      }
    }
  }
}
ion-item {
  --background: transparent;
  .color-box {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  ion-thumbnail .user-image {
    ::ng-deep img {
      border-radius: 10px;
    }
  }
}

ion-item-options {
  ion-item-option {
    --background: #fbfcfd;
    --color: #8da1b5;
    margin: 5px;
    border-radius: 16px;
    border: solid 1px #e2e6f1;
    background-color: #fbfcfd;
    width: 58px;
    height: 58px;
  }
}
