<ng-container  *ngIf="board">
 <app-ios-speech-fab [showFab]="showFab"></app-ios-speech-fab>

  <ion-item-sliding  (ionDrag)="dragged($event, board)">
    <ion-item-options side="start">
    </ion-item-options>
    
    <ion-item [detail]="false" (click)="openSpeechRecognition();">
      <ion-thumbnail>
        <!-- <app-aspect-ratio [ratio]="{w: 1, h: 1}" *ngIf="board.backgroundImage"> -->
          <app-image-shell class="user-image" *ngIf="board.backgroundImage" animation="spinner" [src]="board.backgroundImage" [alt]="'item image'"></app-image-shell>
        <!-- </app-aspect-ratio> -->
        <ng-container *ngIf="board.backgroundColor">
          <div class="color-box" [ngStyle]="{'background-color': (board.backgroundColor === 'default' ? defaultColor : board.backgroundColor)}"></div>
        </ng-container>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>
          {{ board?.name }}
          <span class="date">
            <ion-badge color="danger">{{ board?.recordings?.length }}</ion-badge>
          </span>
        </h2>
      </ion-label>
    </ion-item>


    <ion-item-options side="end">
      <!-- <ion-item-option (click)="gotoCreateRecord(board)">
        <ion-icon name="create-outline" ></ion-icon>
      </ion-item-option> -->
      <!-- <ion-item-option>
        <ion-icon name="copy-outline"></ion-icon>
      </ion-item-option>
      <ion-item-option>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item-option> -->
    </ion-item-options>
  </ion-item-sliding>
</ng-container>



