@import "../../../../theme/mixins/scrollbars";

ion-header {
  ion-toolbar {
    padding-bottom: 0;
    ion-label {
      p {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
ion-footer {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ebebeb;
  color: #000000;
  .footer-content {
    flex: 1;
    height: 100%;
  }

  .active {
    background: var(--ion-color-primary);
    color: #ffffff;
  }
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    padding: 0 5px;
    ion-label {
      font-size: 16px;
      line-height: 1.36;
      p {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

// ion-content {
//   @include hide-scrollbars();
//   // overwrite inline styles
//   --offset-bottom: auto !important;
//   --overflow: hidden;
//   overflow: auto;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

// .question-options-col {
//   overflow: scroll;

//   @include hide-scrollbars();

//   .question-options-list {
//     margin: var(--page-margin) 0px 0px;
//     background: transparent;

//     .question-option {
//       --padding-start: 0px;
//       --ion-item-background: var(--ion-color-lightest);
//       --ion-item-color: var(--ion-color-dark);
//       --inner-border-width: 0px;
//       --inner-padding-end: 0px;

//       text-align: center;

//       &:not(:last-child) {
//         margin-bottom: var(--page-margin);
//       }

//       &.item-radio-checked {
//         --ion-item-background: var(--ion-color-primary);
//         --ion-item-color: var(--ion-color-lightest);
//       }

//       ion-label {
//         margin: calc(var(--page-margin) / 2) 0px;
//       }

//       ion-radio {
//         margin: 0px;
//         // To hide the .radio-icon
//         width: 0px;
//         --border-width: 0px;
//         height: 0px;
//         // We cant set width and height for .radio-icon .radio-inner, so lets hide it changing its color
//         // --color-checked: transparent;
//       }
//     }
//   }
// }
