<ion-header *ngIf="header" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-label>
      {{ header }}
      <p *ngIf="subHeader">{{ subHeader }}</p>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="question-options-col">
        <ion-list class="question-options-list">
          <ion-radio-group (ionChange)="selectedValue($event)" [value]="selected.value">
            <ion-item lines="none" class="question-option" *ngFor="let option of limitedOptions">
              <ion-label>{{ option.label }}</ion-label>
              <ion-radio mode="md" slot="start" [value]="option.value"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-text-center">


      <div class="footer-content" (click)="closeModal();">
        <p>Cancel</p>
      </div>
      
      <div class="footer-content active" (click)="selectLanguage(); ">
        <p>Select Language</p>
      </div>
</ion-footer>
