<ion-fab vertical="center" horizontal="center" slot="fixed" *ngIf="showFab">
  <ion-fab-button style="margin: 0 auto;" (click)="stopListening();">
    <ion-icon name="mic-sharp"></ion-icon>
  </ion-fab-button>
  <ion-label>Listening...</ion-label>
</ion-fab>