// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
  --toolbar-background: #1d2a64;
  --ion-toolbar-background: transparent;
}

.header-toolbar {
  padding: 16px;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.filters-toolbar {
  padding: 14px;
  background-color: #e7f0f7;

  .searchbar-row {
    --ion-grid-column-padding: 0px;

    ion-searchbar.items-searchbar {
      padding: 0px;

      // override Ionic fixed height
      height: 100%;
      // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
      contain: content;
      border-radius: 16px;
      --background: #ffffff;
    }

    .call-to-action-col {
      padding-inline-start: var(--page-margin);
      max-width: fit-content;
      flex-shrink: 0;
      flex-grow: 0;

      display: flex;
      justify-content: flex-end;

      .filters-btn {
        --padding-start: 0px;
        --padding-end: 0px;

        margin: 0px;
        font-size: 18px;
        // override Ionic fixed height
        height: initial;
      }
    }
  }

  .range-item-row {
    --ion-grid-column-padding: 0px;

    margin-top: var(--page-margin);
    padding-top: var(--page-margin);
    // box-shadow at the top
    box-shadow: inset 0 6px 3px -8px var(--ion-color-darkest);

    .range-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: calc(var(--page-margin) / 2);

      .range-value {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.2px;
        color: var(--ion-color-medium);
      }

      .range-label {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: var(--ion-color-medium);
      }
    }

    .range-control {
      // override the pin color
      --ion-text-color: var(--ion-color-medium);

      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

.boards-listing-content {
  --background: var(--page-background);

  .items-list {
    .list-item {
      --padding-start: var(--page-margin);
      --padding-end: 0px;
      --inner-padding-start: 0px;
      --inner-padding-end: var(--page-margin);
      --inner-padding-top: calc(var(--page-margin) / 2);
      --inner-padding-bottom: calc(var(--page-margin) / 2);

      .user-row {
        --ion-grid-column-padding: 0px;

        width: 100%;

        .user-image-wrapper {
          padding-inline-end: calc(var(--page-margin) / 2);
        }

        .user-data-wrapper {
          padding-inline-start: calc(var(--page-margin) / 2);
          display: flex;
          flex-direction: column;
          justify-content: center;

          .user-info {
            &:not(:last-child) {
              margin-bottom: calc(var(--page-margin) / 2);
            }

            .user-name {
              margin: 0px;
              margin-bottom: calc(var(--page-margin) / 4);
              font-size: 16px;
            }

            .user-age {
              margin: 0px;
              color: rgba(var(--ion-color-dark-rgb), 0.4);
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .empty-list-message {
    margin: calc(var(--page-margin) * 3);
    color: rgba(var(--ion-color-dark-rgb), 0.4);
    text-align: center;
  }
}

.content-header {
  font-family: "Inter";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  padding-bottom: 0;
  h1 {
    margin-top: 0;
  }
}

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 50vh;

  h5 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #263238;
    width: 100%;
  }
  p {
    width: 100%;
    font-family: "Inter";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #8da1b5;
  }
}
