<ion-header>
  <ion-toolbar color="skip-btn" class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <app-aspect-ratio [ratio]="{w:100, h:12}">
      <app-image-shell style="width:150px; height: 34px; margin: 0 auto;" animation="spinner" [src]="'assets/tl-logo-simpel-white.png'" [alt]="'walkthrough'"></app-image-shell>
    </app-aspect-ratio>
    <ion-buttons slot="end">
      <!-- <div (click)="test();">
        <app-image-shell style="width:24px; height: 24px; margin: 0 auto;" animation="spinner" [src]="'assets/tl-images/bx-add-board-24-px.svg'" [alt]="'walkthrough'"></app-image-shell>
      </div> -->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar mode="md" class="items-searchbar" animated  (ngModelChange)="searchLoader = true" [(ngModel)]="searchQuery" (ionChange)="searchList($event)" placeholder="Search"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding content-header">
    <h1>Boards</h1>
  </div>
  <ion-list lines="none">
    <ng-container *ngIf="boards$ | async; let boards; else LoadingSpinner;">
      <div class="spin"  *ngIf="!boards.length">
        <div class="ion-text-center ion-padding" >
            <app-image-shell style="width:220px; height: 220px; margin: 0 auto;" animation="spinner" [src]="'assets/tl-images/boards-svg.svg'" [alt]="'walkthrough'"></app-image-shell>
          <h5>No boards found yet</h5>
          <p>
            To add boards click the add icon in the top right corner.
          </p>
        </div>
      </div>
    <app-boards *ngFor="let board of boards | name: (searchService.searchedWord$ | async)" [board]="board" [boards]="boards"></app-boards>
    </ng-container>
   
    <ng-template #LoadingSpinner>
      <div class="spin">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    </ng-template>
  
  
  </ion-list>
</ion-content>