<ion-content class="login-content">
  <app-aspect-ratio [ratio]="{w:100, h:17}">
    <app-image-shell style="width:150px; height: 34px; margin: 0 auto;" animation="spinner"
      [src]="'assets/tl-logo-simpel-white.png'" [alt]="'walkthrough'"></app-image-shell>
  </app-aspect-ratio>

  <div class="form-container">
    <h2 class="auth-title">
      Hey there! Welcome back.
    </h2>
    <p>New here? <a [routerLink]="['/auth/signup']">Create an account.</a></p>
    <form [formGroup]="loginForm" (ngSubmit)="signInWithEmail()">
      <ion-list class="inputs-list" lines="none">
        <ion-item class="input-item">
          <ion-label position="stacked">
            <p>Email</p>
          </ion-label>
          <ion-input [(ngModel)]="email" autocomplete="off" (click)="$event.target.select()" type="email"
            placeholder="name@domain.com" formControlName="email" clearInput autocapitalize="off" inputmode="email">
          </ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <div class="label-row">
          <ion-label position="stacked">
            <p>Password <a class="pulled-right">Forgot your password?</a></p>
          </ion-label>
        </div>

        <ion-item class="tl-auth-item">
          <app-show-hide-password>
            <ion-input autocomplete="off" (click)="$event.target.select()" type="password"
              placeholder="at least 8 characters" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-list>
      <ion-button class="login-btn" type="submit" expand="block" [disabled]="!loginForm.valid">Sign in</ion-button>
      <div class="error-container" *ngIf="submitError">
        <div class="error-message">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ submitError }}</span>
        </div>
      </div>
      <div class="separator">Or</div>
    </form>
    <!-- <div class="social-auth-options">
      <ion-button class="social-auth-btn facebook-auth-btn" expand="block" color="facebook" (click)="doFacebookLogin()">Log In with Facebook</ion-button>
      <ion-button class="social-auth-btn google-auth-btn" expand="block" color="google" (click)="doGoogleLogin()">Log In with Google</ion-button>
      <ion-button class="social-auth-btn twitter-auth-btn" expand="block" color="twitter" (click)="doTwitterLogin()">Log In with Twitter</ion-button>
    </div> -->
    <div class="social-logins d-flex justify-content-between">
      <ion-button type="button" class="google-signin" color="grey-primary" (click)="doGoogleLogin()">
        <ion-icon name="logo-google"></ion-icon>
        <ion-label>Sign in with Google</ion-label>
      </ion-button>
      <ion-button type="button" class="fb-signin" color="lighter-grey" (click)="doFacebookLogin()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button type="button" class="twitter-signin" color="lighter-grey" (click)="doTwitterLogin()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>