// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  // Default variables
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
  --page-spacing: 10px;
  --button-padding: 6px 26px;
  --btn-socials: var(--ion-btn-socials);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
  --background: transparent;
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);
  background-image: linear-gradient(#28cc99, #2e7cf6);

  .form-container {
    padding: 40px 29px;
    border-radius: 3.2px;
    background-color: #ffffff;
    p {
      font-family: "Inter";
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 17px;
      letter-spacing: normal;
      text-align: left;
      color: var(--ion-color-lighter-grey-contrast);
      a {
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: var(--ion-color-primary);
      }

      .pulled-right {
        float: right !important;
      }
    }
  }

  .auth-title {
    color: var(--ion-color-dark);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3 / 2));
    letter-spacing: 0.6px;
    margin: 0 35px 16px 0;
    font-family: "Inter";
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
  }

  .inputs-list {
    // --ion-item-background: var(--page-background);
    --ion-item-background: transparent;

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
      ion-input {
        margin: 8px 0 0;
        padding: 6px 12px !important;
        border-radius: 8px;
        border: solid 1px var(--ion-border-gray-color);
        background-color: #ffffff;
      }
    }

    ion-input {
      font-family: "Inter";
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      text-align: left;
      color: var(--ion-color-darkest);
    }

    .label-row {
      margin-top: 24px;
      margin-bottom: 14px;
    }
    .tl-auth-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
      margin: 8px 0 0;
      padding: 2px 12px !important;
      border-radius: 8px;
      border: solid 1px var(--ion-border-gray-color);
      background-color: #ffffff;
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  .login-btn {
    // margin: calc(var(--page-margin) / 2) 0px;
    margin: 30px 0px;
  }
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--ion-border-gray-color);
    margin: 40px 0;
    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid var(--ion-border-gray-color);
    }
    &::before {
      margin-right: 0.5em;
    }
    &::after {
      margin-left: 0.5em;
    }
  }

  .other-auth-options-row {
    justify-content: space-between;
    align-items: center;

    .forgot-btn {
      --color: var(--ion-color-medium);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }

    .signup-btn {
      --color: var(--ion-color-secondary);
      margin: 0px;

      &:focus {
        outline: none;
      }
    }
  }

  .social-auth-options {
    .options-divider {
      color: var(--ion-color-medium);
      margin: var(--page-margin) 0px;
      text-align: center;
    }

    .social-auth-btn {
      margin: 0px;

      &:not(:first-child) {
        margin-top: var(--page-margin);
      }
    }
  }

  .social-logins {
    ion-button {
      font-size: 13px;
      ion-label {
        margin-left: 5px;
      }
    }
  }

  // @media screen and (max-height: 568px) {
  //   .auth-title {
  //     font-size: 15px;
  //   }
  //   .form-container {
  //     p {
  //       font-size: 12px;
  //       line-height: 15px;
  //     }
  //   }
  // }

  // @media screen and (max-height: 640px) {
  //   .social-logins {
  //     ion-button {
  //       font-size: 11px;
  //       ion-label {
  //         margin-left: 2.5px;
  //       }
  //     }
  //   }
  // }

  // @media screen and (max-height: 667px) {
  // }
}
