<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- <ion-button class="skip-walkthrough-button" fill="" color="skip-btn" (click)="skipWalkthrough()">skip</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-slides class="walkthrough-slides" pager="false" [options]="slidesOptions" (ionSlideDidChange)="slideChanged()">
    <ion-slide class="first-slide illustration-and-decoration-slide">
      <ion-row class="slide-inner-row">
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:915, h:849}">
            <app-image-shell class="illustration-image" animation="spinner"
              [src]="'./assets/sample-images/walkthrough/walkthrough-illustration-1.svg'" [alt]="'walkthrough'">
            </app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="decoration-col">
          <!-- http://jxnblk.com/paths/?d=M0%200%20V5%20H5%20C25%205%2025%2020%2045%2020%20S65%205%2085%205%20H90%20V0%20Z -->
          <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 90 20"
            style="enable-background: new 0 0 90 20" xml:space="preserve" preserveAspectRatio="none">
            <path d="M0 0 V5 H5 C25 5 25 20 45 20 S65 5 85 5 H90 V0 Z" />
          </svg>
        </ion-col>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">
              Hi! I'm Lisa and I'm happy to be your digital voice assistance for
              Trello.
            </h3>
            <p class="info-paragraph">
              For now I can create cards for you while you're on the road or too
              busy to work in your Trello board.
            </p>
            <p class="info-paragraph">
              To understand you correctly, please select your language on the
              next page
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="second-slide illustration-and-decoration-slide">
    </ion-slide>

    <ng-container *ngIf="boards$ | async; let boards;">
      <ion-slide class="last-slide illustration-and-decoration-slide">
        <ion-row class="slide-inner-row">
          <ion-col class="illustration-col">
            <app-aspect-ratio [ratio]="{w:924, h:819}">
              <app-image-shell class="illustration-image" animation="spinner"
                [src]="'./assets/tl-images/TL-Symbol-Simpel.png'" [alt]="'lisa-web'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="decoration-col">
            <!-- http://jxnblk.com/paths/?d=M0%200%20L64%200%20L64%2010%20Q56%2024%2046%2012%20Q34%200%2026%208%20Q10%2022%200%208%20Z -->
            <svg class="vector-decoration" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100%" viewBox="0 0 64 18"
              style="enable-background: new 0 0 64 24" xml:space="preserve" preserveAspectRatio="none">
              <path d="M0 0 L64 0 L64 10 Q56 24 46 12 Q34 0 26 8 Q10 22 0 8 Z" />
            </svg>
          </ion-col>
          <ion-col class="info-col">
            <ion-row class="info-outer">
              <ion-col>
                <ng-container *ngIf="!boards.length;">
                  <div class="info-wrapper">
                    <h3 class="info-title">
                      You need to add a Trello board so I know where to create new
                      cards for you.
                    </h3>
                    <p class="info-paragraph">
                      Please use the web app to add boards to my files. You can open
                      the webapp by tap the button below.
                    </p>
                  </div>
                  <div class="call-to-actions-wrapper">
                    <ion-button class="get-started-button" expand="block" (click)="presentAlertConfirm();">Open Web App
                    </ion-button>
                  </div>
                </ng-container>
                <ng-container *ngIf="boards.length > 0;">
                  <div class="info-wrapper">
                    <h3 class="info-title">
                      You already have {{ boards.length }} boards.
                    </h3>
                  </div>
                  <div class="call-to-actions-wrapper">
                    <ion-button class="get-started-button" expand="block" (click)="getStarted();">Let's get Started.
                    </ion-button>
                  </div>
                </ng-container>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border" style="bottom: 0px; position: absolute;">
  <ion-toolbar *ngIf="!isLastSlide">
    <ion-buttons slot="start">
      <ion-button size="large" (click)="prev()" *ngIf="isNotStart && activeSlide !== 1">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button size="large" (click)="next()" *ngIf="activeSlide !== 1" style="width: 60px;">
        <ion-icon slot="icon-only" name="arrow-forward-circle-outline" style="font-size: 32px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>