<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Privacy Policy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">

  <ion-segment (ionChange)="segmentChanged($event)" value="english">
    <ion-segment-button value="english">
      <ion-label>English</ion-label>
    </ion-segment-button>
    <ion-segment-button value="german">
      <ion-label>German</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="isEnglish">
    <app-privacy-english></app-privacy-english>

  </ng-container>
  
  <ng-container *ngIf="!isEnglish">
    <app-privacy-german></app-privacy-german>
  </ng-container>

 
 
</ion-content>
