<div id="englishPrivacy">
  <h3 class="legal-title">1. An overview of data protection</h3>
  <p class="legal-text">
    General
  </p>
  
  <p class="legal-text">
    The following gives a simple overview of what happens to your personal information when you visit our website. Personal information is any data with which you could be personally identified. Detailed information on the subject of data protection can be found in our privacy policy found below.
  </p>

  <p class="legal-text">
    Data collection on our website
  </p>
  <p class="legal-text">
    Who is responsible for the data collection on this website?
  </p>
  <p class="legal-text">
    The data collected on this website are processed by the website operator. The operator’s contact details can be found in the website’s required legal notice.
  </p>
  <p class="legal-text">
    How do we collect your data?
  </p>
  <p class="legal-text">
    Some data are collected when you provide it to us. This could, for example, be data you enter on a contact form.
  </p>
  <p class="legal-text">
    Other data are collected automatically by our IT systems when you visit the website. These data are primarily technical data such as the browser and operating system you are using or when you accessed the page. These data are collected automatically as soon as you enter our website.
  </p>
  <p class="legal-text">
    What do we use your data for?
  </p>
  <p class="legal-text">
    Part of the data is collected to ensure the proper functioning of the website. Other data can be used to analyze how visitors use the site.
  </p>
  <p class="legal-text">
    What rights do you have regarding your data?
  </p>
  <p class="legal-text">
    You always have the right to request information about your stored data, its origin, its recipients, and the purpose of its collection at no charge. You also have the right to request that it be corrected, blocked, or deleted. You can contact us at any time using the address given in the legal notice if you have further questions about the issue of privacy and data protection. You may also, of course, file a complaint with the competent regulatory authorities.
  </p>
  <p class="legal-text">
    Analytics and third-party tools
  </p>
  <p class="legal-text">
    When visiting our website, statistical analyses may be made of your surfing behavior. This happens primarily using cookies and analytics. The analysis of your surfing behavior is usually anonymous, i.e. we will not be able to identify you from this data. You can object to this analysis or prevent it by not using certain tools. Details can be found in our privacy policy under the heading “Third-party modules and analytics.”
  </p>
  <p class="legal-text">
    You can object to this analysis. We will inform you below about how to exercise your options in this regard.
  </p>

  <h3 class="legal-title">2. General information and mandatory information</h3>
  
  <h3 class="legal-title">Data protection</h3>

  <p class="legal-text">
    The operators of this website take the protection of your personal data very seriously. We treat your personal data as confidential and in accordance with the statutory data protection regulations and this privacy policy.
  </p>
  
  <p class="legal-text">
    If you use this website, various pieces of personal data will be collected. Personal information is any data with which you could be personally identified. This privacy policy explains what information we collect and what we use it for. It also explains how and for what purpose this happens.
  </p>
  <p class="legal-text">
    Please note that data transmitted via the internet (e.g. via email communication) may be subject to security breaches. Complete protection of your data from third-party access is not possible.
  </p>

  <h3 class="legal-title">Notice concerning the party responsible for this website</h3>

  <p class="legal-text">
    G-TAC Software UG (haftungsbeschränkt)
  </p>
  
  <p class="legal-text">
    Schmiedstrasse 7
  </p>
  <p class="legal-text">
    67734 Katzweiler
  </p>
  <p class="legal-text">
    Telephone: +49 (6301) 6049758
  </p>
  
  <p class="legal-text">
    Email: suppor@telllisa.com
  </p>
  <p class="legal-text">
    The responsible party is the natural or legal person who alone or jointly with others decides on the purposes and means of processing personal data (names, email addresses, etc.).
  </p>

  <h3 class="legal-title">Revocation of your consent to the processing of your data</h3>

  <p class="legal-text">
    Many data processing operations are only possible with your express consent. You may revoke your consent at any time with future effect. An informal email making this request is sufficient. The data processed before we receive your request may still be legally processed.
  </p>

  <h3 class="legal-title">Right to file complaints with regulatory authorities</h3>

  <p class="legal-text">
    If there has been a breach of data protection legislation, the person affected may file a complaint with the competent regulatory authorities. The competent regulatory authority for matters related to data protection legislation is the data protection officer of the German state in which our company is headquartered. A list of data protection officers and their contact details can be found at the following link: https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.
  </p>

  
  <h3 class="legal-title">Right to data portability</h3>

  <p class="legal-text">
    You have the right to have data which we process based on your consent or in fulfillment of a contract automatically delivered to yourself or to a third party in a standard, machine-readable format. If you require the direct transfer of data to another responsible party, this will only be done to the extent technically feasible.
  </p>

  <h3 class="legal-title">SSL or TLS encryption</h3>

  <p class="legal-text">
    This site uses SSL or TLS encryption for security reasons and for the protection of the transmission of confidential content, such as the inquiries you send to us as the site operator. You can recognize an encrypted connection in your browser’s address line when it changes from “http://” to “https://” and the lock icon is displayed in your browser’s address bar.
  </p>

  <p class="legal-text">
    If SSL or TLS encryption is activated, the data you transfer to us cannot be read by third parties.
  </p>

  <h3 class="legal-title">Encrypted payments on this website</h3>

  <p class="legal-text">
    If you enter into a contract which requires you to send us your payment information (e.g. account number for direct debits), we will require this data to process your payment.
  </p>
  
  <p class="legal-text">
    Payment transactions using common means of payment (Visa/MasterCard, direct debit) are only made via encrypted SSL or TLS connections. You can recognize an encrypted connection in your browser’s address line when it changes from “http://” to “https://” and the lock icon in your browser line is visible.
  </p>

  
  <p class="legal-text">
    In the case of encrypted communication, any payment details you submit to us cannot be read by third parties.
  </p>

  <h3 class="legal-title">Information, blocking, deletion</h3>

  <p class="legal-text">
    As permitted by law, you have the right to be provided at any time with information free of charge about any of your personal data that is stored as well as its origin, the recipient and the purpose for which it has been processed. You also have the right to have this data corrected, blocked or deleted. You can contact us at any time using the address given in our legal notice if you have further questions on the topic of personal data.
  </p>

  <h3 class="legal-title">Opposition to promotional emails</h3>

  <p class="legal-text">
    We hereby expressly prohibit the use of contact data published in the context of website legal notice requirements with regard to sending promotional and informational materials not expressly requested. The website operator reserves the right to take specific legal action if unsolicited advertising material, such as email spam, is received.
  </p>

  <h3 class="legal-title">3. Data collection on our website</h3>
  <h3 class="legal-title">Cookies</h3>

  <p class="legal-text">
    Some of our web pages use cookies. Cookies do not harm your computer and do not contain any viruses. Cookies help make our website more user-friendly, efficient, and secure. Cookies are small text files that are stored on your computer and saved by your browser.
  </p>

  <p class="legal-text">
    Most of the cookies we use are so-called “session cookies.” They are automatically deleted after your visit. Other cookies remain in your device’s memory until you delete them. These cookies make it possible to recognize your browser when you next visit the site.
  </p>

  <p class="legal-text">
    You can configure your browser to inform you about the use of cookies so that you can decide on a case-by-case basis whether to accept or reject a cookie. Alternatively, your browser can be configured to automatically accept cookies under certain conditions or to always reject them, or to automatically delete cookies when closing your browser. Disabling cookies may limit the functionality of this website.
  </p>
  
  <p class="legal-text">
    Cookies which are necessary to allow electronic communications or to provide certain functions you wish to use (such as the shopping cart) are stored pursuant to Art. 6 paragraph 1, letter f of GDPR. The website operator has a legitimate interest in the storage of cookies to ensure an optimized service provided free of technical errors. If other cookies (such as those used to analyze your surfing behavior) are also stored, they will be treated separately in this privacy policy.
  </p>
  <p class="legal-text">
    To manage your cookie consent:
  </p>

  <ion-button>
    Revoke Consent
  </ion-button>

  <h3 class="legal-title">Server log files</h3>

  <p class="legal-text">
    The website provider automatically collects and stores information that your browser automatically transmits to us in “server log files”. These are:
  </p>

  <ul>
    <li>
      Browser type and browser version
    </li>
    <li>
      Operating system used
    </li>
    <li>
      Referrer URL
    </li>
    <li>
      Host name of the accessing computer
    </li>
    <li>
      Time of the server request
    </li>
    <li>
      IP address
    </li>
  </ul>

  <p class="legal-text">
    These data will not be combined with data from other sources.
  </p>
  <p class="legal-text">
    The basis for data processing is Art. 6 (1) (b) GDPR, which allows the processing of data to fulfill a contract or for measures preliminary to a contract.
  </p>

  <h3 class="legal-title">
    Contact form
  </h3>

  <p class="legal-text">
    Should you send us questions via the contact form, we will collect the data entered on the form, including the contact details you provide, to answer your question and any follow-up questions. We do not share this information without your permission.
  </p>
  <p class="legal-text">
    We will, therefore, process any data you enter onto the contact form only with your consent per Art. 6 (1)(a) GDPR. You may revoke your consent at any time. An informal email making this request is sufficient. The data processed before we receive your request may still be legally processed.
  </p>
  
  <p class="legal-text">
    We will retain the data you provide on the contact form until you request its deletion, revoke your consent for its storage, or the purpose for its storage no longer pertains (e.g. after fulfilling your request). Any mandatory statutory provisions, especially those regarding mandatory data retention periods, remain unaffected by this provision.
  </p>

  <h3 class="legal-title">
    Registration on this website
  </h3>

  <p class="legal-text">
    You can register on our website in order to access additional functions offered here. The input data will only be used for the purpose of using the respective site or service for which you have registered. The mandatory information requested during registration must be provided in full. Otherwise, we will reject your registration.
  </p>
  <p class="legal-text">
    To inform you about important changes such as those within the scope of our site or technical changes, we will use the email address specified during registration.
  </p>
  <p class="legal-text">
    We will process the data provided during registration only based on your consent per Art. 6 (1)(a) GDPR. You may revoke your consent at any time with future effect. An informal email making this request is sufficient. The data processed before we receive your request may still be legally processed.
  </p>
  <p class="legal-text">
    We will continue to store the data collected during registration for as long as you remain registered on our website. Statutory retention periods remain unaffected.
  </p>

  <h3 class="legal-title">
    Processing of data (customer and contract data)
  </h3>
  <p class="legal-text">
    We collect, process, and use personal data only insofar as it is necessary to establish, or modify legal relationships with us (master data). This is done based on Art. 6 (1) (b) GDPR, which allows the processing of data to fulfill a contract or for measures preliminary to a contract. We collect, process and use your personal data when accessing our website (usage data) only to the extent required to enable you to access our service or to bill you for the same.

  </p>
  <p class="legal-text">
    Collected customer data shall be deleted after completion of the order or termination of the business relationship. Legal retention periods remain unaffected.
  </p>

  <h3 class="legal-title">
    Data transferred when signing up for services and digital content
  </h3>

  <p class="legal-text">
    We transmit personally identifiable data to third parties only to the extent required to fulfill the terms of your contract with us, for example, to banks entrusted to process your payments.
  </p>
  <p class="legal-text">
    Your data will not be transmitted for any other purpose unless you have given your express permission to do so. Your data will not be disclosed to third parties for advertising purposes without your express consent.
  </p>  
  <p class="legal-text">
    The basis for data processing is Art. 6 (1) (b) GDPR, which allows the processing of data to fulfill a contract or for measures preliminary to a contract.
  </p>  

  <h3 class="legal-title">
    4. Analytics and advertising
  </h3>
  <h3 class="legal-title">
    Google Analytics
  </h3>

  <p class="legal-text">
    This website uses Google Analytics, a web analytics service. It is operated by Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
  </p>
  
  <p class="legal-text">
    Google Analytics uses so-called “cookies”. These are text files that are stored on your computer and that allow an analysis of the use of the website by you. The information generated by the cookie about your use of this website is usually transmitted to a Google server in the USA and stored there.
  </p>
  <p class="legal-text">
    Google Analytics cookies are stored based on Art. 6 (1) (f) GDPR. The website operator has a legitimate interest in analyzing user behavior to optimize both its website and its advertising.
  </p>

  <h3 class="legal-title">
    IP anonymization
  </h3>

  <p class="legal-text">
    We have activated the IP anonymization feature on this website. Your IP address will be shortened by Google within the European Union or other parties to the Agreement on the European Economic Area prior to transmission to the United States. Only in exceptional cases is the full IP address sent to a Google server in the US and shortened there. Google will use this information on behalf of the operator of this website to evaluate your use of the website, to compile reports on website activity, and to provide other services regarding website activity and Internet usage for the website operator. The IP address transmitted by your browser as part of Google Analytics will not be merged with any other data held by Google.
  </p>

  <h3 class="legal-title">
    Browser plugin
  </h3>

  <p class="legal-text">
    You can prevent these cookies being stored by selecting the appropriate settings in your browser. However, we wish to point out that doing so may mean you will not be able to enjoy the full functionality of this website. You can also prevent the data generated by cookies about your use of the website (incl. your IP address) from being passed to Google, and the processing of these data by Google, by downloading and installing the browser plugin available at the following link: https://tools.google.com/dlpage/gaoptout?hl=en.
  </p>

  <h3 class="legal-title">
    Objecting to the collection of data
  </h3>

  <p class="legal-text">
    You can prevent the collection of your data by Google Analytics by clicking on the following link. An opt-out cookie will be set to prevent your data from being collected on future visits to this site: Disable Google Analytics.
  </p>

  <p class="legal-text">
    For more information about how Google Analytics handles user data, see Google’s privacy policy: https://support.google.com/analytics/answer/6004245?hl=en.
  </p>

  <h3 class="legal-title">
    Outsourced data processing
  </h3>

  <p class="legal-text">
    We have entered into an agreement with Google for the outsourcing of our data processing and fully implement the strict requirements of the German data protection authorities when using Google Analytics.
  </p>

  
  <h3 class="legal-title">
    Demographic data collection by Google Analytics
  </h3>

  <p class="legal-text">
    This website uses Google Analytics’ demographic features. This allows reports to be generated containing statements about the age, gender, and interests of site visitors. This data comes from interest-based advertising from Google and third-party visitor data. This collected data cannot be attributed to any specific individual person. You can disable this feature at any time by adjusting the ads settings in your Google account or you can forbid the collection of your data by Google Analytics as described in the section “Refusal of data collection”.
  </p>

  <h3 class="legal-title">
    Google Analytics Remarketing
  </h3>

  <p class="legal-text">
    Our websites use the features of Google Analytics Remarketing combined with the cross-device capabilities of Google AdWords and DoubleClick. This service is provided by Google Inc., 1600 Amphitheater Parkway, Mountain View, CA 94043, USA.
  </p>
  
  <p class="legal-text">
    This feature makes it possible to link target audiences for promotional marketing created with Google Analytics Remarketing to the cross-device capabilities of Google AdWords and Google DoubleClick. This allows advertising to be displayed based on your personal interests, identified based on your previous usage and surfing behavior on one device (e.g. your mobile phone), on other devices (such as a tablet or computer).
  </p>
  <p class="legal-text">
    Once you have given your consent, Google will associate your web and app browsing history with your Google Account for this purpose. That way, any device that signs in to your Google Account can use the same personalized promotional messaging.
  </p>

  <p class="legal-text">
    To support this feature, Google Analytics collects Google-authenticated IDs of users that are temporarily linked to our Google Analytics data to define and create audiences for cross-device ad promotion.
  </p>
  <p class="legal-text">
    You can permanently opt out of cross-device remarketing/targeting by turning off personalized advertising in your Google Account; follow this link: https://www.google.com/settings/ads/onweb/.
  </p>
  <p class="legal-text">
    The aggregation of the data collected in your Google Account data is based solely on your consent, which you may give or withdraw from Google per Art. 6 (1) (a) GDPR. For data collection operations not merged into your Google Account (for example, because you do not have a Google Account or have objected to the merge), the collection of data is based on Art. 6 (1) (f) GDPR. The website operator has a legitimate interest in analyzing anonymous user behavior for promotional purposes.
  </p>
  <p class="legal-text">
    For more information and the Google Privacy Policy, go to: https://www.google.com/policies/technologies/ads/.
  </p>

  <h3 class="legal-title">Google AdWords and Google Conversion Tracking</h3>

  <p class="legal-text">
    This website uses Google AdWords. AdWords is an online advertising program from Google Inc., 1600 Amphitheater Parkway, Mountain View, CA 94043, United States (“Google”).
  </p>
  
  <p class="legal-text">
    As part of Google AdWords, we use so-called conversion tracking. When you click on an ad served by Google, a conversion tracking cookie is set. Cookies are small text files that your internet browser stores on your computer. These cookies expire after 30 days and are not used for personal identification of the user. Should the user visit certain pages of the website and the cookie has not yet expired, Google and the website can tell that the user clicked on the ad and proceeded to that page.

  </p>
  <p class="legal-text">
    Each Google AdWords advertiser has a different cookie. Thus, cookies cannot be tracked using the website of an AdWords advertiser. The information obtained using the conversion cookie is used to create conversion statistics for the AdWords advertisers who have opted for conversion tracking. Customers are told the total number of users who clicked on their ad and were redirected to a conversion tracking tag page. However, advertisers do not obtain any information that can be used to personally identify users. If you do not want to participate in tracking, you can opt-out of this by easily disabling the Google Conversion Tracking cookie by changing your browser settings. In doing so, you will not be included in the conversion tracking statistics.

  </p>
  
  <p class="legal-text">
    Conversion cookies are stored based on Art. 6 (1) (f) GDPR. The website operator has a legitimate interest in analyzing user behavior to optimize both its website and its advertising.
  </p>
  <p class="legal-text">
    For more information about Google AdWords and Google Conversion Tracking, see the Google Privacy Policy: https://www.google.de/policies/privacy/.
  </p>
  <p class="legal-text">
    You can configure your browser to inform you about the use of cookies so that you can decide on a case-by-case basis whether to accept or reject a cookie. Alternatively, your browser can be configured to automatically accept cookies under certain conditions or to always reject them, or to automatically delete cookies when closing your browser. Disabling cookies may limit the functionality of this website.
  </p>

  <h3 class="legal-title">
    Data protection statement for the use of Twitter / conversion measurement with „Twitter-Pixel” / „Custom Audiences”
  </h3>

  <p class="legal-text">
    In particular, using the “Twitter pixel” set on our web pages, we can track users’ actions after they’ve seen or clicked on a Twitter ad. This procedure is used to evaluate the effectiveness of Twitter advertisements for statistical purposes and market research purposes, and can contribute to the optimisation of future advertising measures. The data collected is anonymous to us, so we can not draw conclusions about the identity of the users. However, the data is stored and processed by Twitter, so that a connection to the respective user profile is possible and Twitter can use the data for its own advertising purposes, in compliance with the Twitter data protection statement. You can enable Twitter as well as its affiliates to place advertisements on and outside of Twitter. A cookie may also be stored on your computer for these purposes. For further information in this regard, please refer to the data protection statement of Twitter under http://twitter.com/privacy.
  </p>

  <p class="legal-text">You can change your data protection settings and consents with regard to Twitter in the Account Settings under: http://twitter.com/account/settings.</p>

  <h3 class="legal-title">Facebook Pixel</h3>

  <p class="legal-text">Our website measures conversions using visitor action pixels from Facebook, Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (“Facebook”).

  </p>
  <p class="legal-text">These allow the behavior of site visitors to be tracked after they click on a Facebook ad to reach the provider’s website. This allows an analysis of the effectiveness of Facebook advertisements for statistical and market research purposes and their future optimization.

  </p>
  <p class="legal-text">The data collected is anonymous to us as operators of this website and we cannot use it to draw any conclusions about our users’ identities. However, the data are stored and processed by Facebook, which may make a connection to your Facebook profile and which may use the data for its own advertising purposes, as stipulated in the Facebook privacy policy. This will allow Facebook to display ads both on Facebook and on third-party sites. We have no control over how this data is used.

  </p>
  <p class="legal-text">Check out Facebook’s privacy policy to learn more about protecting your privacy: https://www.facebook.com/about/privacy/.

  </p>
  <p class="legal-text">You can also deactivate the custom audiences remarketing feature in the Ads Settings section at https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen. You will first need to log into Facebook.

  </p>
  <p class="legal-text">If you do not have a Facebook account, you can opt out of usage-based advertising from Facebook on the website of the European Interactive Digital Advertising Alliance: http://www.youronlinechoices.com/de/praferenzmanagement/.

  </p>

  <h3 class="legal-title">5. Final Provisions
  </h3>
  <h3 class="legal-title">Compliance With Laws
  </h3>
  <p class="legal-text">We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.
  </p>

  <h3 class="legal-title">Business Transaction
  </h3>

  <p class="legal-text">If Crowdy.ai is involved in a merger, acquisition or asset sale, your Personal Information may be transferred. We will provide notice before your Personal Information is transferred and becomes subject to a different Privacy Policy.

  </p>

  <h3 class="legal-title">
    International Transfer
  </h3>

  <p class="legal-text">Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.

  </p>
  <p class="legal-text">If you are located outside Germany and choose to provide information to us, please note that we transfer the information, including Personal Information, to Germany and process it there.

  </p>
  <p class="legal-text">Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.

  </p>

  <h3 class="legal-title">
    Links To Other Sites


  </h3>

  <p class="legal-text">Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.

  </p>
  <p class="legal-text">We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.

  </p>

  <h3 class="legal-title">Children’s Privacy

  </h3>

  <p class="legal-text">Our Service does not address anyone under the age of 13 (“Children”).

  </p>
  <p class="legal-text">We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a child under age 13 without verification of parental consent, we take steps to remove that information from our servers.

  </p>
</div>